# Get frequency count for transcription text

In [1]:
# !pip install nltk==3.5

In [30]:
import re
import pandas as pd
import nltk
import json

In [3]:
nltk.download("stopwords")
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words("english"))

# from nltk.stem import WordNetLemmatizer
# lemmatizer = WordNetLemmatizer()

from nltk import FreqDist

nltk.download('punkt')
nltk.download('wordnet')

import string
punctuation = set(string.punctuation)
stop_words_with_punct = stop_words.union(punctuation)

# from nltk.collocations import BigramCollocationFinder, TrigramCollocationFinder
# from nltk.metrics import BigramAssocMeasures, TrigramAssocMeasures

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/oliviakasmin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/oliviakasmin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/oliviakasmin/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
stop_words_with_punct.add("’")
stop_words_with_punct.add("“")
stop_words_with_punct.add("⎬")
stop_words_with_punct.add("┃")
stop_words_with_punct.add("|")
stop_words_with_punct.add("●")
stop_words_with_punct.add("--")
stop_words_with_punct.add("--")

In [5]:
df_full = pd.read_parquet('../nara_pension_file_pages_with_file_cat.parquet')

In [6]:
df_full.head()

,NAID,naraURL,title,logicalDate,variantControlNumbers,pdfObjectID,pdfURL,pageObjectId,pageURL,pageImageType,ocrID,ocrText,ocrUploadDate,ocrContributor,transcriptionID,transcriptionText,transcriptionContributionCount,transcriptionUserNames,transcriptionDate,file_cat
0,111769430,https://catalog.archives.gov/id/111769430,Revolutionary War Pension and Bounty Land Warr...,None,"[{""number"": ""Fold3 2018"", ""type"": ""Search Iden...",None,None,111769431,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Image (JPG),19850379,Mass\nWoodbury\nWm\nS33948,2024-11-20T20:32:03.000Z,FamilySearch,None,None,NaN,None,None,soldier
1,111769430,https://catalog.archives.gov/id/111769430,Revolutionary War Pension and Bounty Land Warr...,None,"[{""number"": ""Fold3 2018"", ""type"": ""Search Iden...",None,None,111769432,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Image (JPG),19850380,33948\nRevy INVALID.\nFile No. 33948\nIndex\nW...,2024-11-20T20:32:03.000Z,FamilySearch,None,None,NaN,None,None,soldier
2,111769430,https://catalog.archives.gov/id/111769430,Revolutionary War Pension and Bounty Land Warr...,None,"[{""number"": ""Fold3 2018"", ""type"": ""Search Iden...",None,None,111769433,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Image (JPG),19850381,To the Secretary of the Department of War\nSir...,2024-11-20T20:32:03.000Z,FamilySearch,None,None,NaN,None,None,soldier
3,111769418,https://catalog.archives.gov/id/111769418,Revolutionary War Pension and Bounty Land Warr...,None,"[{""number"": ""Fold3 2018"", ""type"": ""Search Iden...",None,None,111769419,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Image (JPG),19850368,"(3 - 1776)\nSERVICE\nMass\nCONTENTS\nWoodbury,...",2024-11-20T20:32:03.000Z,FamilySearch,None,None,NaN,None,None,soldier
4,111769418,https://catalog.archives.gov/id/111769418,Revolutionary War Pension and Bounty Land Warr...,None,"[{""number"": ""Fold3 2018"", ""type"": ""Search Iden...",None,None,111769420,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Image (JPG),19850369,1831\nto\nSchaled Tucker\n1941\nMassachusetts\...,2024-11-20T20:32:03.000Z,FamilySearch,None,None,NaN,None,None,soldier

In [7]:
# Filter to rows that contain transcriptionText
df = df_full[df_full['transcriptionText'].notna()]

In [8]:
print(f"Filtered dataframe shape: {df.shape}")
print(f"Number of rows with transcriptionText: {len(df)}")

Filtered dataframe shape: (604716, 20)
Number of rows with transcriptionText: 604716

In [9]:
df.head()

,NAID,naraURL,title,logicalDate,variantControlNumbers,pdfObjectID,pdfURL,pageObjectId,pageURL,pageImageType,ocrID,ocrText,ocrUploadDate,ocrContributor,transcriptionID,transcriptionText,transcriptionContributionCount,transcriptionUserNames,transcriptionDate,file_cat
14,111769405,https://catalog.archives.gov/id/111769405,Revolutionary War Pension and Bounty Land Warr...,None,"[{""number"": ""Fold3 2018"", ""type"": ""Search Iden...",None,None,111769406,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Image (JPG),19850356,(3 - 1776)\nSERVICE\nMass.\nCONTENTS\nWoodbury...,2024-11-20T20:32:03.000Z,FamilySearch,115c69ad-67bb-47c3-8c93-36b92f73483a,"(3 - 1776)\nSERVICE\nMass.\nWoodbury, Peter\n1...",1.0,carlaMSUspartan,2025-07-27 18:31:27,soldier
15,111769405,https://catalog.archives.gov/id/111769405,Revolutionary War Pension and Bounty Land Warr...,None,"[{""number"": ""Fold3 2018"", ""type"": ""Search Iden...",None,None,111769407,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Image (JPG),19850357,Vermont 18.682\n---\nPeter Woodbury\nof Windso...,2024-11-20T20:32:03.000Z,FamilySearch,3fc8f1d1-c8be-468a-9d45-6183c4076266,Vermont 18.682\n---\nPeter Woodbury\nof Windso...,1.0,carlaMSUspartan,2025-07-27 18:31:59,soldier
16,111769405,https://catalog.archives.gov/id/111769405,Revolutionary War Pension and Bounty Land Warr...,None,"[{""number"": ""Fold3 2018"", ""type"": ""Search Iden...",None,None,111769408,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Image (JPG),19850358,9316\nPeter Woodbery\nAdmit\nis 28\nReturn the...,2024-11-20T20:32:03.000Z,FamilySearch,29da1ecc-f3ee-413c-bdb7-9811a730c9af,9316\nPeter Woodbury\nAdmit\n11 mos 28 ds\nRet...,1.0,carlaMSUspartan,2025-07-27 18:36:51,soldier
17,111769405,https://catalog.archives.gov/id/111769405,Revolutionary War Pension and Bounty Land Warr...,None,"[{""number"": ""Fold3 2018"", ""type"": ""Search Iden...",None,None,111769409,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Image (JPG),19850359,BRIEF objections to the admission of Pension C...,2024-11-20T20:32:03.000Z,FamilySearch,d781857a-6715-4d09-82f0-98ba8318a62f,BRIEF objections to the admission of Pension C...,1.0,carlaMSUspartan,2025-07-27 18:37:48,soldier
18,111769405,https://catalog.archives.gov/id/111769405,Revolutionary War Pension and Bounty Land Warr...,None,"[{""number"": ""Fold3 2018"", ""type"": ""Search Iden...",None,None,111769410,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Image (JPG),19850360,XI. Has the applicant obtained the evidence of...,2024-11-20T20:32:03.000Z,FamilySearch,4b9ecfef-8f54-49af-8cfe-3dae2b1ff530,2\nXI. Has the applicant obtained the evidence...,1.0,carlaMSUspartan,2025-07-27 18:40:15,soldier

### Clean transcriptionText

1. change "\n" to " "
2. tokenize words
3. filter to remove stop words

In [10]:
sample = df.iloc[2000]['transcriptionText']
sample_str = sample.replace("\n", " ").lower()

In [11]:
sample_str

'pension office feb 25- washington d.c. did william withers who enlisted in the revolutionary war in 1777. but was not called till 1778. get a pension and please tell me why he did not get one. said wm withers was in grants co. and grayson troops was commissioned a sergeant, fell ill at valley forge. and was sent to the country where he received his pay- an early reply will be much appreciated by mrs ada withers bunger. - west point ky feby 25th 1935.  [illegible] wm. withers  [stamp] received feb 27 1935'

In [12]:
# First tokenize the text into words
words = word_tokenize(sample_str)
# words

# Then filter out stop words
meaningful_words = [word for word in words if word.casefold() not in stop_words_with_punct]
# meaningful_words

# Then get frequency distribution
frequency_distribution = FreqDist(meaningful_words)

In [13]:
frequency_distribution

FreqDist({'withers': 4, 'pension': 2, 'feb': 2, 'get': 2, 'wm': 2, 'received': 2, '1935': 2, 'office': 1, '25-': 1, 'washington': 1, ...})

In [14]:
def get_frequency_distribution(text):
    sample_str = text.replace("\n", " ").lower()
    words = word_tokenize(sample_str)
    meaningful_words = [word for word in words if word.casefold() not in stop_words_with_punct]
    frequency_distribution = FreqDist(meaningful_words)
    freq_dict = dict(frequency_distribution)
    # sorted_freq_dict = dict(sorted(freq_dict.items(), key=lambda x: x[1], reverse=True))
    return freq_dict

In [15]:
result = get_frequency_distribution(sample)
result

{'pension': 2,
 'office': 1,
 'feb': 2,
 '25-': 1,
 'washington': 1,
 'd.c.': 1,
 'william': 1,
 'withers': 4,
 'enlisted': 1,
 'revolutionary': 1,
 'war': 1,
 '1777.': 1,
 'called': 1,
 'till': 1,
 '1778.': 1,
 'get': 2,
 'please': 1,
 'tell': 1,
 'one': 1,
 'said': 1,
 'wm': 2,
 'grants': 1,
 'co.': 1,
 'grayson': 1,
 'troops': 1,
 'commissioned': 1,
 'sergeant': 1,
 'fell': 1,
 'ill': 1,
 'valley': 1,
 'forge': 1,
 'sent': 1,
 'country': 1,
 'received': 2,
 'pay-': 1,
 'early': 1,
 'reply': 1,
 'much': 1,
 'appreciated': 1,
 'mrs': 1,
 'ada': 1,
 'bunger': 1,
 'west': 1,
 'point': 1,
 'ky': 1,
 'feby': 1,
 '25th': 1,
 '1935': 2,
 'illegible': 1,
 'stamp': 1,
 '27': 1}

### Get frequency count for each row

In [16]:
df_with_dict = df[['NAID', 'naraURL', 'pageObjectId', 'pageURL', 'transcriptionText', 'file_cat']].copy()

# cols: NAID, naraURL, pageObjectId, pageURL, transcriptionText, file_cat

In [17]:
df_with_dict.head()

,NAID,naraURL,pageObjectId,pageURL,transcriptionText,file_cat
14,111769405,https://catalog.archives.gov/id/111769405,111769406,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,"(3 - 1776)\nSERVICE\nMass.\nWoodbury, Peter\n1...",soldier
15,111769405,https://catalog.archives.gov/id/111769405,111769407,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Vermont 18.682\n---\nPeter Woodbury\nof Windso...,soldier
16,111769405,https://catalog.archives.gov/id/111769405,111769408,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,9316\nPeter Woodbury\nAdmit\n11 mos 28 ds\nRet...,soldier
17,111769405,https://catalog.archives.gov/id/111769405,111769409,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,BRIEF objections to the admission of Pension C...,soldier
18,111769405,https://catalog.archives.gov/id/111769405,111769410,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,2\nXI. Has the applicant obtained the evidence...,soldier

In [18]:
df_with_dict['frequency_distribution'] = df_with_dict['transcriptionText'].apply(get_frequency_distribution)
df_with_dict['frequency_keys'] = df_with_dict['frequency_distribution'].apply(lambda x: '||'.join(x.keys()))

In [21]:
df_with_dict.head()

,NAID,naraURL,pageObjectId,pageURL,transcriptionText,file_cat,frequency_distribution,frequency_keys
14,111769405,https://catalog.archives.gov/id/111769405,111769406,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,"(3 - 1776)\nSERVICE\nMass.\nWoodbury, Peter\n1...",soldier,"{'3': 1, '1776': 1, 'service': 1, 'mass': 1, '...",3||1776||service||mass||woodbury||peter||10009...
15,111769405,https://catalog.archives.gov/id/111769405,111769407,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Vermont 18.682\n---\nPeter Woodbury\nof Windso...,soldier,"{'vermont': 3, '18.682': 1, '--': 1, 'peter': ...",vermont||18.682||--||peter||woodbury||windsor|...
16,111769405,https://catalog.archives.gov/id/111769405,111769408,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,9316\nPeter Woodbury\nAdmit\n11 mos 28 ds\nRet...,soldier,"{'9316': 1, 'peter': 1, 'woodbury': 1, 'admit'...",9316||peter||woodbury||admit||11||mos||28||ds|...
17,111769405,https://catalog.archives.gov/id/111769405,111769409,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,BRIEF objections to the admission of Pension C...,soldier,"{'brief': 1, 'objections': 1, 'admission': 1, ...",brief||objections||admission||pension||claims|...
18,111769405,https://catalog.archives.gov/id/111769405,111769410,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,2\nXI. Has the applicant obtained the evidence...,soldier,"{'2': 1, 'xi': 1, 'applicant': 5, 'obtained': ...",2||xi||applicant||obtained||evidence||clergyma...

In [20]:
# df_with_dict.to_parquet('df_transcriptionText_with_frequency_dict.parquet')

### Combine frequency count for each row

In [22]:
from collections import Counter

# Combine all frequency distributions
combined_freq = Counter()
for freq_dict in df_with_dict['frequency_distribution']:
    combined_freq.update(freq_dict)

# Convert to regular dictionary if needed
combined_freq_dict = dict(combined_freq)

In [23]:
combined_freq_dict

{'3': 70601,
 '1776': 41369,
 'service': 357213,
 'mass': 19773,
 'woodbury': 1933,
 'peter': 24023,
 '10009': 3,
 'number': 35125,
 's.': 61188,
 '19171': 4,
 'carded': 6106,
 'contents': 12150,
 'vermont': 46238,
 '18.682': 3,
 '--': 254938,
 'windsor': 8720,
 'co': 23990,
 'state': 476444,
 'private': 97743,
 'compy': 2563,
 'commanded': 82831,
 'captain': 118973,
 'wilder': 857,
 'regt': 24635,
 'col.': 53994,
 'dolittle': 19,
 'line': 78503,
 '11': 19662,
 'mo': 16958,
 '28': 16565,
 'days': 46289,
 'inscribed': 27395,
 'roll': 67871,
 'rate': 44672,
 '39': 1683,
 'dollars': 58168,
 '74': 2279,
 'cents': 31212,
 'per': 66189,
 'annum': 44492,
 'commence': 27152,
 '4th': 75100,
 'day': 398882,
 'march': 173235,
 '1831.': 7302,
 'certificate': 146624,
 'pension': 372518,
 'issued': 47514,
 '25': 19645,
 'sept': 30145,
 '1833': 38272,
 'sent': 50141,
 'oel': 491,
 'billings': 1542,
 'royalton': 1169,
 'vt': 5609,
 'arrears': 21450,
 "'33": 1354,
 '99.35': 4,
 'semi-anl': 9261,
 'allowance': 17023,
 'ending': 19071,
 '4': 67792,
 'mar': 20198,
 "'36": 856,
 '19.87': 5,
 '___________': 1682,
 '119.22': 1,
 'revolutionary': 203008,
 'claim': 136181,
 'act': 223764,
 'june': 157751,
 '7': 77012,
 '1832.': 24979,
 'recorded': 27946,
 'eli': 2602,
 'brown': 21944,
 'clerk': 153802,
 'book': 27821,
 'e': 20440,
 'vol': 37981,
 'page': 76574,
 '98': 563,
 'may': 157376,
 '1833.': 5835,
 'date': 76456,
 'death': 57443,
 '9316': 7,
 'admit': 2135,
 'mos': 11714,
 'ds': 699,
 'return': 19316,
 'brief': 8028,
 'objections': 5630,
 'admission': 4089,
 'claims': 22187,
 'proof': 52981,
 'explanation': 3603,
 'answered': 7682,
 'negative': 2294,
 'red': 3767,
 'ink': 6457,
 'apply': 12552,
 'require': 4697,
 '1.': 11603,
 'declaration': 174458,
 'show': 12900,
 'applicant': 102879,
 'resides': 30400,
 'yes': 16967,
 'ii': 2458,
 'declarant': 31418,
 'make': 57758,
 'county': 664887,
 'iii': 2214,
 'reason': 32925,
 'assigned': 5375,
 'iv': 2149,
 'mentioned': 37387,
 'period': 39948,
 'periods': 11300,
 'war': 297828,
 'served': 243838,
 'v.': 7341,
 'precision': 8161,
 'length': 26010,
 'different': 12518,
 'grades': 9012,
 'language': 4517,
 'definite': 4555,
 'enable': 6706,
 'department': 95300,
 'determine': 8437,
 'amout': 640,
 'entitled': 68364,
 'vi': 2023,
 'given': 74103,
 'names': 58012,
 'officers': 78134,
 'conformity': 6382,
 'regulations': 14505,
 'made': 142230,
 'relinquishment': 4060,
 'every': 47097,
 '1832': 86677,
 'viii': 1904,
 'court': 363693,
 'opinion': 49852,
 'ix': 1960,
 'x.': 2016,
 "'s": 162879,
 'seal': 142696,
 'affixed': 48205,
 'device': 4018,
 'inscription': 4196,
 'distinguished': 4324,
 '2': 72109,
 'xi': 1956,
 'obtained': 20250,
 'evidence': 73863,
 'clergyman': 27455,
 'another': 12787,
 'respectable': 13323,
 'citizen': 13130,
 'belief': 21518,
 'respecting': 10013,
 'age': 91036,
 'general': 67268,
 'neighborhood': 27968,
 'relative': 13768,
 'xii': 1936,
 'affidavit': 61752,
 'produced': 8093,
 'obtaining': 8254,
 'xiii': 1960,
 'documentary': 14722,
 'testimony': 86221,
 'least': 12123,
 'one': 211716,
 'living': 47310,
 'witness': 54257,
 'stated': 70475,
 'xiv': 3771,
 'name': 135890,
 'found': 40742,
 'rolls': 20918,
 'military': 27139,
 'witnesses': 25892,
 'direct': 11291,
 'magistrate': 20077,
 'administered': 3048,
 'oath': 94768,
 'certified': 20152,
 'credibility': 9527,
 'proper': 26724,
 'officer': 40870,
 'official': 28996,
 'character': 32583,
 'signature': 78600,
 'first': 112217,
 'xv': 1968,
 'appear': 27530,
 'papers': 86982,
 'situation': 3995,
 'personal': 12323,
 'knowledge': 20364,
 'xvi': 3715,
 'authenticated': 10817,
 'xvii': 1882,
 'seven': 28939,
 'interrogatories': 16478,
 'prescribed': 12731,
 'satisfactorily': 3183,
 'explanatory': 2608,
 'notes': 11122,
 'quere': 4841,
 'case': 79495,
 'loss': 12381,
 'memory': 15545,
 'precisely': 4922,
 'long': 27461,
 'amend': 4266,
 'making': 17285,
 'following': 96777,
 'words': 14371,
 '``': 138029,
 'personally': 103720,
 'appeared': 82577,
 'undersigned': 12917,
 'justice': 135485,
 'peace': 128527,
 'c.': 85477,
 'a.': 57474,
 'b.': 39056,
 'duly': 108971,
 'sworn': 197806,
 'deposeth': 12858,
 'saith': 32326,
 'old': 56922,
 'consequent': 6226,
 'swear': 13718,
 'positively': 7216,
 'precise': 8266,
 'according': 74453,
 'best': 21954,
 'recollection': 17440,
 'less': 10501,
 'year': 203191,
 'months': 148143,
 'important': 7358,
 'cases': 17232,
 'particular': 19198,
 'rank': 27110,
 'held': 12968,
 'law': 103742,
 'directs': 4556,
 'paid': 33583,
 'grade': 7628,
 'pensioner': 48073,
 'use': 10795,
 'phrase': 4086,
 'three': 81069,
 'four': 39657,
 'indefinite': 3854,
 'qualifying': 3868,
 'expressions': 3832,
 'objectionable': 6673,
 'persons': 57471,
 'pensions': 93150,
 'merely': 3763,
 'two': 93238,
 'years': 219799,
 'militia': 67031,
 'without': 16823,
 'specifying': 3224,
 'tours': 11940,
 'particulars': 6304,
 'form': 36158,
 'highly': 5119,
 'must': 63950,
 'clearly': 7107,
 'shewn': 1077,
 'duration': 9862,
 'term': 47567,
 'engagement': 10213,
 'place': 63132,
 'places': 11330,
 'performed': 19074,
 'embodied': 6042,
 'corps': 9850,
 'called': 45532,
 'competent': 4055,
 'authority': 9487,
 'either': 13655,
 'field': 16296,
 'garrison': 5671,
 'time': 210263,
 'employed': 12954,
 'civil': 7839,
 'pursuit': 5289,
 'records': 60606,
 'prove': 13844,
 'credible': 36057,
 'required': 25283,
 'set': 77543,
 'forth': 18126,
 'affidavits': 18476,
 'claimants': 4173,
 'entering': 5297,
 'manner': 15500,
 'leaving': 14165,
 'well': 80193,
 'regiment': 110723,
 'company': 161326,
 'belonged': 22126,
 'administer': 11224,
 'oaths': 12792,
 'certify': 188545,
 'office': 176854,
 'mode': 4391,
 'authenticating': 3969,
 'instance': 7006,
 'certifying': 13173,
 'authenticates': 3266,
 'written': 67079,
 'sheet': 5547,
 'paper': 22730,
 'contains': 21572,
 'attached': 23180,
 'thereto': 18297,
 'piece': 5652,
 'tape': 4097,
 'narrow': 3949,
 'ribbon': 4417,
 'ends': 3799,
 'pass': 5246,
 'prevent': 5451,
 'improperly': 4117,
 'graphic': 68,
 'pointing': 1882,
 'finger': 720,
 'public': 15873,
 'member': 9624,
 'congress': 76468,
 'proving': 4626,
 'accompany': 4012,
 'hand': 111877,
 'drawn': 6654,
 'information': 43354,
 'note': 15960,
 'indicating': 229,
 'done': 16460,
 'bethel': 969,
 'vt.': 5976,
 'ss': 69016,
 '25th': 10554,
 'august': 64660,
 'a.d.': 35750,
 'open': 38495,
 'judge': 72273,
 'probate': 25339,
 'district': 58568,
 'hartford': 9311,
 'sitting': 7695,
 'resident': 81441,
 'aged': 70835,
 'seventy': 32090,
 'doth': 38034,
 'order': 58722,
 'obtain': 50617,
 'benefit': 35099,
 'passed': 39188,
 'entered': 38250,
 'united': 94596,
 'states': 141356,
 'named': 71354,
 'herein': 18117,
 '1775': 15803,
 'month': 60739,
 'april': 85331,
 'enlisted': 80750,
 'cambridge': 3341,
 'massachusetts': 36405,
 'eight': 56844,
 'said': 651461,
 'town': 83372,
 'towns': 2346,
 'men': 25497,
 'stood': 1079,
 'minest': 1,
 'minute': 2797,
 'armed': 3069,
 'equipt': 36,
 'ready': 1407,
 'moments': 288,
 'warning': 386,
 'alarm': 2529,
 'boston': 10235,
 'repaired': 260,
 'aforesaid': 148902,
 'capt': 103730,
 'allen': 16351,
 'ensign': 12347,
 'pike': 3184,
 'col': 48442,
 'continued': 29229,
 'near': 27470,
 'untill': 9599,
 'battle': 41470,
 'bunker': 1966,
 'hill': 15653,
 'whole': 18403,
 'expended': 296,
 'ammunition': 514,
 'stationed': 16884,
 'winter': 8445,
 'charlestown': 2567,
 'expired': 5569,
 'army': 66605,
 'isaac': 22113,
 'nichols': 2789,
 'fatunge': 1,
 'fatigue': 628,
 'duty': 23200,
 'mistuki': 1,
 'medford': 134,
 'cut': 5038,
 'wood': 7820,
 'remained': 23642,
 'verbally': 1363,
 'discharged': 45468,
 'nine': 25489,
 'see': 24017,
 'deposition': 21524,
 'u.': 7260,
 'green': 18582,
 '1777': 36097,
 'fore': 2209,
 'part': 40533,
 'july': 125974,
 'volunteered': 14750,
 'royalston': 113,
 'father': 39869,
 'lieut': 15066,
 'stearns': 630,
 'rogers': 3190,
 'cushing': 552,
 'believe': 44425,
 'hurried': 57,
 'bennington': 6607,
 'stayed': 1608,
 'weeks': 14028,
 'ordered': 11082,
 'join': 4187,
 'american': 12151,
 'north': 52708,
 'river': 24061,
 'crossed': 41345,
 'hudson': 4522,
 'half': 15537,
 'morn': 60,
 'back': 11201,
 'genl': 18836,
 'lincoln': 7850,
 'arrived': 4757,
 'soon': 14310,
 'bring': 6178,
 'prisoners': 7047,
 'guard': 12729,
 'dismissed': 4312,
 'j.': 66353,
 'nichlos': 4,
 'born': 73154,
 'sutton': 1780,
 'worcester': 5078,
 '14th': 10972,
 '1755.': 263,
 'commencement': 3096,
 'revolution': 81595,
 'lived': 45144,
 'since': 58754,
 'fetckwilliam': 1,
 'fitzwilliam': 160,
 'n.h.': 7041,
 'live': 10990,
 'thirty': 25629,
 'six': 45503,
 'last': 54093,
 'past': 9654,
 'know': 45796,
 'substantiate': 745,
 'discharge': 35042,
 'never': 25685,
 'record': 115630,
 'suppose': 2918,
 'clerks': 7835,
 'read': 8794,
 'asahel': 1309,
 'c': 40231,
 'washburn': 781,
 'john': 253109,
 'wallace': 3957,
 'testify': 26265,
 'truth': 32547,
 'veracity': 19153,
 'service-': 701,
 'hereby': 130678,
 'relinquishes': 11327,
 'whatever': 16966,
 'annuity': 12137,
 'except': 33206,
 'present': 55340,
 'declares': 31174,
 'agency': 33729,
 'subscribed': 134538,
 'l': 33417,
 'marsh': 2544,
 'register': 9464,
 'residing': 32507,
 'nigh': 175,
 'acquainted': 74160,
 '77': 3888,
 'reputed': 18402,
 'believed': 19969,
 'neighbourhood': 6021,
 'soldier': 132836,
 'concur': 13776,
 'a.c.': 420,
 'la': 2246,
 'isaiah': 1872,
 'raymond': 1360,
 'herby': 1425,
 'unable': 18949,
 'bodily': 14369,
 'infirmities': 1897,
 'isa': 114,
 'declare': 29628,
 'investigation': 16293,
 'matter': 37384,
 'putting': 10195,
 'certifies': 10783,
 'appears': 50807,
 'signed': 76390,
 'preceding': 13388,
 'also': 92850,
 'person': 64697,
 'statement': 44680,
 'credit': 39522,
 'lyndon': 323,
 'foregoing': 80114,
 'original': 40158,
 'proceedings': 22010,
 'application': 100408,
 'whereof': 65135,
 'hereunto': 62935,
 'uriah': 1121,
 'pitsfield': 10,
 'pittsfield': 559,
 'rutland': 7930,
 'depose': 16312,
 'say': 46311,
 'troops': 54651,
 'remanded': 51,
 'dooleth': 1,
 'colonel': 63438,
 'ephraim': 4981,
 'doolittle': 643,
 'wilders': 16,
 'raised': 7556,
 'twentieth': 2687,
 'january': 53269,
 'vicinity': 5656,
 'knowing': 4070,
 'sd': 12603,
 'enlisting': 1230,
 'regmt': 357,
 'hazziah': 1,
 'check': 3495,
 'mark': 39388,
 'pencil': 1560,
 'ss.⎬': 33,
 '11th': 11663,
 'uzziah': 34,
 'solemn': 8254,
 'nothing': 8095,
 'walter': 4669,
 'perrin': 241,
 'good': 17978,
 'caracter': 132,
 'brenton': 82,
 'orange': 11810,
 'wooster': 756,
 'nowing': 11,
 'going': 3698,
 'services': 70620,
 'moon': 940,
 'contained': 15770,
 'remember': 10027,
 'way': 7795,
 'help': 2677,
 'jesse': 11698,
 'home': 26273,
 'taken': 41149,
 'sick': 4419,
 'house': 34788,
 '10': 27106,
 'illegible': 280451,
 'jonathan': 18386,
 'compatant': 2,
 'woodstock': 2426,
 '27th': 10348,
 'benjamin': 33270,
 'swan': 1426,
 'justices': 14689,
 'within': 55800,
 'hereto': 17631,
 'affix': 6423,
 'subscribe': 7244,
 'invalid': 13125,
 'file': 55978,
 '19,171': 1,
 'pri': 10634,
 'rev': 47139,
 "'32": 1258,
 'index': 14405,
 '1': 75284,
 '418': 117,
 'arrangement': 14318,
 '1870': 13959,
 '1926': 2292,
 '10.': 780,
 'tombstone': 490,
 'data': 26072,
 'aw': 2354,
 'paul': 3940,
 'f.': 20189,
 'wilson': 10514,
 'letter': 61466,
 'moody': 1808,
 'w': 21014,
 '20261': 2,
 'lott': 361,
 'w18361': 2,
 'lot': 3018,
 'martha': 8813,
 'left': 47241,
 'fold': 1050,
 'hon': 59154,
 'j': 38844,
 'fletcher': 2428,
 '15': 24680,
 'feby': 12859,
 'february': 51146,
 '1840': 14754,
 'right': 28156,
 '3167-': 1,
 'widow': 138401,
 'decd': 9474,
 'deceased': 33952,
 '1818': 50130,
 'died': 83288,
 '8': 32129,
 'decr': 4049,
 'december': 42558,
 '1838-': 385,
 'essex': 7916,
 'gleason': 507,
 'nixon': 1064,
 '16': 21494,
 '53': 2253,
 '33': 6314,
 '1834': 17426,
 '8th': 12886,
 '1838.': 7394,
 '10th': 13231,
 'jany': 13413,
 'h.': 43193,
 'g.': 20294,
 'fry': 1255,
 'esqr': 14970,
 'esquire': 15697,
 'concord': 3735,
 'n.': 37676,
 '1839': 16751,
 '39.41': 3,
 'semi-annual': 2725,
 '40': 6770,
 '26.66': 880,
 '66.07': 1,
 '1836': 24214,
 'section': 20241,
 '3d': 16924,
 'd.': 59623,
 'mccurdy': 463,
 '43': 2760,
 'notification': 2463,
 '17': 21766,
 '1821': 6977,
 'wm': 43644,
 'gates': 5551,
 'lunenburg': 1172,
 't.': 13609,
 '10.761': 2,
 'r': 22939,
 'fourteen': 3236,
 '14': 21214,
 '1818.': 7208,
 '19': 17417,
 'samuel': 59764,
 '1819.': 1962,
 '.85.56': 1,
 "all'ce": 3706,
 'sept.': 17093,
 'september': 55024,
 '48': 4610,
 '1819': 17589,
 '30': 18780,
 '133.56': 18,
 '31': 10284,
 '18th': 30434,
 'discontinued': 499,
 'fifth': 8732,
 'ad': 34552,
 'david': 39907,
 'hibbard': 508,
 'jr.': 6077,
 'provision': 15165,
 'micaiah': 10,
 'nicksons': 9,
 'married': 64715,
 'think': 17271,
 'came': 20833,
 '1778.': 3056,
 'fall': 12930,
 'sibley': 404,
 'luke': 1639,
 'drury': 1387,
 'volunteer': 13494,
 'tell': 4708,
 'country': 24609,
 'marched': 45708,
 'towards': 2714,
 'new': 192953,
 'york': 116356,
 'heard': 19600,
 'recollect': 27188,
 'trenton': 6025,
 'princeton': 2358,
 'dated': 18148,
 '15th': 15183,
 'twenty': 39228,
 'third': 16196,
 'thousand': 37589,
 'hundred': 80323,
 'husband': 52103,
 'eighth': 5846,
 'ever': 31290,
 'fully': 11741,
 'reference': 17986,
 'annexed': 39371,
 'support': 23696,
 'hillard': 56,
 '5th': 14422,
 'infirmity': 15283,
 'attend': 9438,
 'purpose': 13152,
 'word': 12205,
 "''": 99219,
 'fourteenth': 2641,
 'bottom': 5987,
 'erased': 959,
 'execution': 2009,
 'william': 125130,
 'ten': 12781,
 'commissioned': 25938,
 'qualified': 17291,
 'forgoing': 3020,
 'genuine': 31076,
 'h': 28746,
 'g': 14711,
 'josiah': 10409,
 'goodale': 233,
 'hannah': 11824,
 'signatures': 11207,
 '13th': 10717,
 'brother': 16077,
 'late': 32568,
 'whose': 41507,
 'still': 19065,
 'remains': 3817,
 'mean': 802,
 'tour': 23507,
 'ca': 4424,
 "n't": 2762,
 'many-': 11,
 'women': 547,
 'statements': 12638,
 'full': 39374,
 'h.g': 115,
 'vertically': 4001,
 'margin': 9513,
 '7th': 50401,
 'top': 6112,
 'altered': 319,
 'goodell': 457,
 'lawful': 11684,
 'nickson': 46,
 'knew': 14765,
 'woodberry': 51,
 'city': 55861,
 'retreated': 2757,
 'went': 27915,
 'white': 18430,
 'plains': 5537,
 'burlington': 3725,
 'skirmish': 2886,
 'intermarried': 2440,
 'x': 28298,
 '12th': 11091,
 'man': 41764,
 'spelling': 1572,
 'twice': 2360,
 'signing': 6083,
 '1823': 6275,
 'unlimited': 1450,
 'jurisdiction': 2269,
 'point': 14427,
 'amount': 24105,
 'power': 21277,
 'fine': 2294,
 'imprisonment': 1925,
 'sixty': 16683,
 'acts': 22975,
 '1st': 27683,
 '1820': 24852,
 'continental': 39819,
 'establishment': 9089,
 'serve': 19480,
 '31st': 5478,
 'chatham': 2653,
 'jersey': 35324,
 'solemnly': 5820,
 'gift': 4884,
 'sale': 6650,
 'disposed': 5933,
 'property': 27941,
 'thereof': 18875,
 'intent': 5041,
 'thereby': 5680,
 'die': 971,
 'minish': 1,
 'provide': 9542,
 'certain': 25593,
 'engaged': 34947,
 'land': 57703,
 'naval': 11340,
 'trust': 8714,
 'securities': 4616,
 'contracts': 6888,
 'debts': 7853,
 'due': 40755,
 'income': 6176,
 'schedule': 21201,
 'farmer': 3293,
 'occupation': 3814,
 'able': 13358,
 'labour': 2673,
 'labor': 2931,
 'little': 11822,
 'family': 47850,
 'wife': 50513,
 'sister': 5406,
 'elizabeth': 34739,
 'son': 26806,
 'nineteen': 2359,
 'feeble': 1531,
 'lame': 654,
 'shoulder': 720,
 'occasioned': 557,
 'horse': 8067,
 'ago': 11407,
 'much': 22554,
 'childhood': 660,
 'cripple': 570,
 'ankle': 182,
 'joint': 1582,
 'together': 18249,
 'advanced': 2087,
 'renders': 335,
 'thing': 4882,
 'assistance': 10655,
 'acres': 9459,
 'lying': 1328,
 'buildings': 562,
 'thereon': 2926,
 'ox': 190,
 'cows': 1044,
 'heifer': 449,
 'heifers': 109,
 'small': 10017,
 'cart': 518,
 'shed': 276,
 'sett': 229,
 'harrow': 191,
 'teeth': 88,
 'iron': 2835,
 'crow': 613,
 'bars': 46,
 'draft': 2425,
 'chains': 568,
 'ax': 387,
 'nearly': 5507,
 'worn': 1272,
 'out-': 227,
 'pail': 620,
 'pot-': 13,
 'tea': 1970,
 'kettle': 2386,
 'kitchen': 581,
 'chairs': 2182,
 'rocking': 46,
 'chair': 320,
 'tables': 672,
 'meat': 334,
 'barrels': 512,
 'looking': 1583,
 'glass': 1243,
 'quart': 230,
 'basons': 82,
 'dozen': 451,
 'knives': 1475,
 'forks': 1753,
 'pair': 1406,
 'irons': 658,
 'fire': 4538,
 'shovel': 1184,
 'plates': 1391,
 'teacups': 46,
 'saucers': 808,
 'articles': 1685,
 'ware': 3127,
 'changes': 1084,
 'viz': 14953,
 'quarter': 9398,
 'wild': 414,
 'estimated': 406,
 'contain': 3219,
 '100': 5549,
 'sold': 4170,
 'vendue': 55,
 'dyer': 2522,
 'constable': 228,
 'collector': 244,
 'tax': 349,
 '30th': 9916,
 'non': 935,
 'payment': 16131,
 'acre': 877,
 'imposed': 187,
 'upon': 57752,
 'legislature': 2055,
 'session': 4705,
 'october': 50293,
 'building': 3738,
 'repairing': 293,
 'roads': 608,
 'bridge': 3196,
 'redemption': 81,
 'sheep': 1468,
 'lambs': 431,
 'dead': 9304,
 'woodbury-': 3,
 'timothy': 7028,
 'fairchild': 563,
 'admitted': 8619,
 'truly': 33419,
 'copied': 7050,
 'therefrom': 843,
 'total': 8491,
 'value': 8263,
 'exhibited': 9410,
 '1824': 4669,
 'esq': 49489,
 'agent': 19829,
 '24th': 10481,
 'follows': 15361,
 'fourth': 10906,
 'numbered': 2452,
 '10761': 2,
 'diminish': 4724,
 'namely': 1095,
 'unimproved': 54,
 'common': 48514,
 'owners': 95,
 'bull': 1609,
 'steer': 120,
 'dray': 21,
 'trace': 657,
 'broad': 1149,
 'augurs': 21,
 ...}

#### remove any words with fewer than 100 entries

In [24]:
# Filter to keep only words with 100 or more occurrences
filtered_combined_freq_dict = {word: count for word, count in combined_freq_dict.items() if count >= 100}

In [26]:
len(filtered_combined_freq_dict)

14800

In [27]:
# Sort by frequency count (descending - most frequent first)
sorted_filtered_combined_freq_dict = dict(sorted(filtered_combined_freq_dict.items(), key=lambda x: x[1], reverse=True))

In [28]:
sorted_filtered_combined_freq_dict

{'county': 664887,
 'said': 651461,
 'state': 476444,
 'day': 398882,
 'pension': 372518,
 'court': 363693,
 'service': 357213,
 'war': 297828,
 'illegible': 280451,
 '--': 254938,
 'john': 253109,
 'served': 243838,
 'act': 223764,
 'years': 219799,
 'one': 211716,
 'time': 210263,
 'year': 203191,
 'revolutionary': 203008,
 'sworn': 197806,
 'new': 192953,
 'certify': 188545,
 'office': 176854,
 'declaration': 174458,
 'march': 173235,
 "'s": 162879,
 'company': 161326,
 'june': 157751,
 'may': 157376,
 'clerk': 153802,
 'aforesaid': 148902,
 'months': 148143,
 'certificate': 146624,
 'seal': 142696,
 'made': 142230,
 'states': 141356,
 'widow': 138401,
 '``': 138029,
 'claim': 136181,
 'name': 135890,
 'justice': 135485,
 'subscribed': 134538,
 'soldier': 132836,
 'hereby': 130678,
 'peace': 128527,
 'july': 125974,
 'william': 125130,
 'captain': 118973,
 'york': 116356,
 'record': 115630,
 'james': 113545,
 'first': 112217,
 'hand': 111877,
 'washington': 110831,
 'regiment': 110723,
 'duly': 108971,
 'law': 103742,
 'capt': 103730,
 'personally': 103720,
 'applicant': 102879,
 'application': 100408,
 "''": 99219,
 'private': 97743,
 'following': 96777,
 'department': 95300,
 'oath': 94768,
 'united': 94596,
 'two': 93238,
 'pensions': 93150,
 'also': 92850,
 'age': 91036,
 'papers': 86982,
 '1832': 86677,
 'testimony': 86221,
 'c.': 85477,
 'april': 85331,
 'sir': 84630,
 'town': 83372,
 'died': 83288,
 'commanded': 82831,
 'appeared': 82577,
 'revolution': 81595,
 'resident': 81441,
 'three': 81069,
 'enlisted': 80750,
 'hundred': 80323,
 'well': 80193,
 'foregoing': 80114,
 'carolina': 79660,
 'case': 79495,
 'signature': 78600,
 'line': 78503,
 'virginia': 78427,
 'officers': 78134,
 'thomas': 77642,
 'set': 77543,
 '7': 77012,
 'page': 76574,
 'congress': 76468,
 'date': 76456,
 'signed': 76390,
 '1': 75284,
 '4th': 75100,
 'deponent': 75093,
 'according': 74453,
 'acquainted': 74160,
 'given': 74103,
 'evidence': 73863,
 'born': 73154,
 'judge': 72273,
 '2': 72109,
 'named': 71354,
 'aged': 70835,
 'services': 70620,
 '3': 70601,
 'stated': 70475,
 'ss': 69016,
 'entitled': 68364,
 'roll': 67871,
 '4': 67792,
 'general': 67268,
 'written': 67079,
 'militia': 67031,
 'army': 66605,
 'j.': 66353,
 'per': 66189,
 'received': 65571,
 'whereof': 65135,
 'married': 64715,
 'person': 64697,
 'august': 64660,
 'must': 63950,
 'colonel': 63438,
 'place': 63132,
 'hereunto': 62935,
 'respectfully': 62143,
 'affidavit': 61752,
 'letter': 61466,
 's.': 61188,
 'month': 60739,
 'records': 60606,
 'commissioner': 60388,
 'samuel': 59764,
 'd.': 59623,
 'hon': 59154,
 'w.': 58798,
 'since': 58754,
 'order': 58722,
 'district': 58568,
 'dollars': 58168,
 'names': 58012,
 'make': 57758,
 'upon': 57752,
 'land': 57703,
 'a.': 57474,
 'persons': 57471,
 'death': 57443,
 'old': 56922,
 'eight': 56844,
 'file': 55978,
 'city': 55861,
 'within': 55800,
 'present': 55340,
 'joseph': 55236,
 'september': 55024,
 'troops': 54651,
 'witness': 54257,
 'last': 54093,
 'col.': 53994,
 'january': 53269,
 'proof': 52981,
 'north': 52708,
 'husband': 52103,
 'blank': 51864,
 'february': 51146,
 'appears': 50807,
 'obtain': 50617,
 'wife': 50513,
 '7th': 50401,
 'october': 50293,
 'sent': 50141,
 '1818': 50130,
 'opinion': 49852,
 'marriage': 49774,
 'esq': 49489,
 'common': 48514,
 'col': 48442,
 'mrs.': 48339,
 'affixed': 48205,
 'pensioner': 48073,
 'family': 47850,
 'term': 47567,
 'issued': 47514,
 'living': 47310,
 'left': 47241,
 'rev': 47139,
 'every': 47097,
 'pleas': 46681,
 'edwards': 46671,
 'say': 46311,
 'days': 46289,
 'vermont': 46238,
 'pennsylvania': 46206,
 'mary': 46086,
 'know': 45796,
 'marched': 45708,
 'called': 45532,
 'six': 45503,
 'discharged': 45468,
 'henry': 45412,
 'lived': 45144,
 'l.': 45091,
 'statement': 44680,
 'rate': 44672,
 'annum': 44492,
 'believe': 44425,
 'george': 44270,
 'wm': 43644,
 'november': 43559,
 'smith': 43443,
 'information': 43354,
 'children': 43329,
 'h.': 43193,
 'connecticut': 42910,
 '1838': 42648,
 'december': 42558,
 'known': 42158,
 'man': 41764,
 'dear': 41597,
 'whose': 41507,
 'battle': 41470,
 '1776': 41369,
 'crossed': 41345,
 'taken': 41149,
 'officer': 40870,
 'due': 40755,
 'found': 40742,
 'part': 40533,
 'c': 40231,
 'original': 40158,
 'secretary': 39972,
 'period': 39948,
 'david': 39907,
 'father': 39869,
 'continental': 39819,
 'four': 39657,
 'credit': 39522,
 'mark': 39388,
 'full': 39374,
 'annexed': 39371,
 'twenty': 39228,
 'south': 39227,
 'passed': 39188,
 'b.': 39056,
 'j': 38844,
 'ohio': 38636,
 'open': 38495,
 '1833': 38272,
 'entered': 38250,
 'doth': 38034,
 '6': 38018,
 'vol': 37981,
 'n.': 37676,
 '18': 37611,
 'thousand': 37589,
 'mentioned': 37387,
 'matter': 37384,
 'would': 37356,
 'allowed': 36766,
 'co.': 36682,
 'handwritten': 36639,
 'massachusetts': 36405,
 'island': 36353,
 'form': 36158,
 '1777': 36097,
 'credible': 36057,
 'a.d.': 35750,
 'mr.': 35702,
 'jersey': 35324,
 'number': 35125,
 'benefit': 35099,
 'discharge': 35042,
 'engaged': 34947,
 'house': 34788,
 'elizabeth': 34739,
 'ad': 34552,
 'hampshire': 34201,
 'deceased': 33952,
 'agency': 33729,
 'paid': 33583,
 'truly': 33419,
 'l': 33417,
 'benjamin': 33270,
 'except': 33206,
 'daniel': 33128,
 'please': 33010,
 'georgia': 33000,
 'reason': 32925,
 'pay': 32922,
 'kentucky': 32701,
 'robert': 32690,
 'character': 32583,
 'five': 32581,
 'late': 32568,
 'truth': 32547,
 'residing': 32507,
 'r.': 32403,
 'saith': 32326,
 '8': 32129,
 'resided': 32124,
 'seventy': 32090,
 'returned': 31576,
 'true': 31460,
 'declarant': 31418,
 'ever': 31290,
 'cents': 31212,
 'declares': 31174,
 'genuine': 31076,
 '5': 30962,
 'command': 30746,
 '18th': 30434,
 'resides': 30400,
 'sept': 30145,
 'm.': 29978,
 'jacob': 29939,
 '1780': 29891,
 'declare': 29628,
 'bureau': 29433,
 'continued': 29229,
 'official': 28996,
 'seven': 28939,
 'maryland': 28910,
 '1781': 28755,
 'h': 28746,
 'x': 28298,
 'right': 28156,
 'neighborhood': 27968,
 'recorded': 27946,
 'property': 27941,
 'p.': 27930,
 'went': 27915,
 'book': 27821,
 'tennessee': 27821,
 '1st': 27683,
 'charles': 27630,
 'appear': 27530,
 'near': 27470,
 'long': 27461,
 'clergyman': 27455,
 'inscribed': 27395,
 'sarah': 27225,
 'recollect': 27188,
 'commence': 27152,
 'military': 27139,
 'rank': 27110,
 '10': 27106,
 'lieutenant': 27034,
 'give': 26876,
 'attorney': 26862,
 'son': 26806,
 'proper': 26724,
 'e.': 26615,
 '20': 26409,
 'home': 26273,
 'testify': 26265,
 'fort': 26175,
 'data': 26072,
 'copy': 26072,
 '9': 26053,
 'length': 26010,
 'commissioned': 25938,
 'witnesses': 25892,
 '1778': 25881,
 'eighteen': 25844,
 'enlistment': 25705,
 'never': 25685,
 'thirty': 25629,
 'certain': 25593,
 'men': 25497,
 'nine': 25489,
 'says': 25487,
 'probate': 25339,
 'required': 25283,
 'account': 25101,
 '12': 25070,
 'eighty': 24991,
 '1832.': 24979,
 'acting': 24938,
 '1820': 24852,
 'b': 24766,
 '1843': 24688,
 '15': 24680,
 'regt': 24635,
 'country': 24609,
 'find': 24494,
 'stamp': 24362,
 'claimant': 24322,
 'second': 24231,
 '1836': 24214,
 'request': 24209,
 'amount': 24105,
 'river': 24061,
 'peter': 24023,
 'see': 24017,
 'co': 23990,
 'send': 23814,
 'bounty': 23714,
 'support': 23696,
 'remained': 23642,
 'several': 23540,
 'tour': 23507,
 'rhode': 23296,
 'side': 23217,
 'duty': 23200,
 'attached': 23180,
 'acts': 22975,
 'r': 22939,
 'circumstances': 22829,
 'd.c.': 22827,
 '1779': 22782,
 'dec': 22737,
 'paper': 22730,
 'much': 22554,
 'receive': 22379,
 '1853': 22266,
 'claims': 22187,
 'lord': 22184,
 'belonged': 22126,
 'isaac': 22113,
 'british': 22111,
 'proceedings': 22010,
 'residence': 21959,
 'best': 21954,
 'brown': 21944,
 'took': 21877,
 'sic': 21858,
 'mr': 21807,
 '17': 21766,
 'drafted': 21674,
 'contains': 21572,
 'deposition': 21524,
 'belief': 21518,
 '16': 21494,
 'major': 21454,
 'arrears': 21450,
 'power': 21277,
 '14': 21214,
 'schedule': 21201,
 'richard': 21144,
 'herewith': 21129,
 'w': 21014,
 'rolls': 20918,
 'came': 20833,
 'mrs': 20828,
 'commonwealth': 20651,
 'e': 20440,
 'knowledge': 20364,
 'g.': 20294,
 'soldiers': 20287,
 '1848': 20266,
 'obtained': 20250,
 'section': 20241,
 'mar': 20198,
 'f.': 20189,
 'certified': 20152,
 'magistrate': 20077,
 'many': 20052,
 'believes': 20047,
 'believed': 19969,
 'executed': 19953,
 'writing': 19922,
 'agent': 19829,
 'mass': 19773,
 'whether': 19687,
 '11': 19662,
 '25': 19645,
 'heard': 19600,
 'serve': 19480,
 'return': 19316,
 'oct': 19216,
 'particular': 19198,
 'enclosed': 19162,
 'veracity': 19153,
 'performed': 19074,
 'ending': 19071,
 'still': 19065,
 'could': 19012,
 'unable': 18949,
 'end': 18933,
 'battles': 18920,
 'clark': 18911,
 'thereof': 18875,
 'genl': 18836,
 '30': 18780,
 'west': 18724,
 'green': 18582,
 '13': 18546,
 'affidavits': 18476,
 'fifty': 18471,
 'white': 18430,
 'whole': 18403,
 'reputed': 18402,
 'moved': 18394,
 'jonathan': 18386,
 'thereto': 18297,
 'together': 18249,
 'dated': 18148,
 'forth': 18126,
 'herein': 18117,
 'always': 18042,
 'reference': 17986,
 'good': 17978,
 'clk': 17936,
 'forty': 17864,
 'lewis': 17841,
 'edward': 17632,
 'hereto': 17631,
 '1819': 17589,
 'johnson': 17582,
 'interior': 17548,
 'faith': 17529,
 'great': 17473,
 'recollection': 17440,
 'regular': 17435,
 'commission': 17430,
 '1834': 17426,
 '19': 17417,
 '22': 17338,
 '23': 17337,
 'qualified': 17291,
 'making': 17285,
 'think': 17271,
 'cases': 17232,
 'warrant': 17202,
 '24': 17184,
 'life': 17175,
 'sept.': 17093,
 'allowance': 17023,
 'yes': 16967,
 'whatever': 16966,
 'mo': 16958,
 'nov': 16943,
 '3d': 16924,
 '1844': 16901,
 'stationed': 16884,
 'subscriber': 16884,
 'without': 16823,
 'knows': 16808,
 '1839': 16751,
 '1837': 16733,
 'shown': 16724,
 'sixty': 16683,
 '21': 16661,
 'stephen': 16656,
 'thence': 16593,
 'feb': 16572,
 '28': 16565,
 'seventeen': 16559,
 'filed': 16526,
 'shall': 16525,
 '6th': 16481,
 'interrogatories': 16478,
 'done': 16460,
 'enemy': 16448,
 '27': 16418,
 'judges': 16360,
 'allen': 16351,
 'depose': 16312,
 'hist': 16303,
 'field': 16296,
 'investigation': 16293,
 'williams': 16236,
 'list': 16230,
 'rendered': 16202,
 'third': 16196,
 'wit': 16170,
 '29': 16136,
 'payment': 16131,
 'brother': 16077,
 'note': 15960,
 '26': 15958,
 'facts': 15919,
 'public': 15873,
 '–': 15820,
 'joined': 15818,
 '1775': 15803,
 'contained': 15770,
 'esquire': 15697,
 '3rd': 15677,
 'hill': 15653,
 'memory': 15545,
 'half': 15537,
 'manner': 15500,
 'follows': 15361,
 'franklin': 15357,
 "'d": 15342,
 'davis': 15337,
 'answer': 15336,
 'removed': 15293,
 'infirmity': 15283,
 'indiana': 15277,
 'division': 15275,
 'sergeant': 15244,
 'va': 15203,
 '2nd': 15194,
 '15th': 15183,
 'provision': 15165,
 'township': 15152,
 'n': 15071,
 'lieut': 15066,
 'mother': 15019,
 'aug': 15012,
 'esqr': 14970,
 'viz': 14953,
 'examined': 14946,
 'volunteers': 14945,
 'substitute': 14944,
 'p': 14906,
 'us': 14887,
 'knew': 14765,
 '1840': 14754,
 'volunteered': 14750,
 'documentary': 14722,
 'g': 14711,
 'justices': 14689,
 'therefore': 14681,
 'geo': 14615,
 'regulations': 14505,
 'daughter': 14501,
 'dates': 14446,
 'point': 14427,
 '5th': 14422,
 'index': 14405,
 'words': 14371,
 'heirs': 14370,
 'bodily': 14369,
 'informed': 14367,
 'let': 14323,
 'arrangement': 14318,
 'soon': 14310,
 'administrator': 14289,
 'fact': 14286,
 'spring': 14261,
 'ann': 14259,
 'lost': 14258,
 'van': 14258,
 'jones': 14230,
 'martin': 14226,
 'take': 14199,
 'leaving': 14165,
 'alexander': 14160,
 'weeks': 14028,
 'necessary': 14019,
 'next': 13965,
 '1870': 13959,
 'providence': 13918,
 'previous': 13906,
 'prove': 13844,
 'history': 13844,
 'concur': 13776,
 'relative': 13768,
 'reply': 13764,
 'thinks': 13747,
 'n.y.': 13745,
 'afterwards': 13726,
 'swear': 13718,
 'nancy': 13683,
 'either': 13655,
 'nathan': 13640,
 'obt': 13632,
 't.': 13609,
 '1812': 13593,
 'va.': 13570,
 'albany': 13568,
 'andrew': 13537,
 'maine': 13531,
 'volunteer': 13494,
 'miles': 13487,
 'moses': 13431,
 'widows': 13417,
 'jany': 13413,
 'preceding': 13388,
 'able': 13358,
 'furnished': 13346,
 'respectable': 13323,
 'money': 13314,
 '10th': 13231,
 '1782': 13223,
 'placed': 13198,
 'certifying': 13173,
 'purpose': 13152,
 'f': 13152,
 'times': 13137,
 'examination': 13131,
 'citizen': 13130,
 'invalid': 13125,
 'jan': 13101,
 'comptroller': 13072,
 '1831': 13049,
 '20th': 13006,
 'provisions': 13001,
 'madam': 12986,
 'abraham': 12975,
 'held': 12968,
 'employed': 12954,
 'fall': 12930,
 'undersigned': 12917,
 'show': 12900,
 '8th': 12886,
 'feby': 12859,
 'deposeth': 12858,
 'circuit': 12836,
 'hall': 12800,
 'oaths': 12792,
 'another': 12787,
 'ten': 12781,
 'pensioners': 12778,
 'saw': 12753,
 'prescribed': 12731,
 'guard': 12729,
 'nathaniel': 12697,
 'indians': 12684,
 'surviving': 12660,
 'statements': 12638,
 'com': 12616,
 'sd': 12603,
 'taylor': 12588,
 'st.': 12575,
 'apply': 12552,
 'treasury': 12534,
 '17th': 12533,
 'different': 12518,
 'loss': 12381,
 'nov.': 12375,
 'ensign': 12347,
 'additional': 12327,
 'personal': 12323,
 '1835': 12291,
 'assistant': 12252,
 'early': 12243,
 'close': 12220,
 'word': 12205,
 'requested': 12193,
 'american': 12151,
 'contents': 12150,
 'miller': 12143,
 'annuity': 12137,
 'underlined': 12128,
 'least': 12123,
 'certificates': 12110,
 'others': 12074,
 '1855': 12030,
 'taking': 11953,
 'chief': 11946,
 'tours': 11940,
 '80': 11904,
 '1845': 11863,
 'church': 11856,
 'hannah': 11824,
 'little': 11822,
 'orange': 11810,
 'philadelphia': 11776,
 'fully': 11741,
 'birth': 11721,
 'adams': 11720,
 'mos': 11714,
 'warrants': 11710,
 'jesse': 11698,
 'lawful': 11684,
 '11th': 11663,
 '1.': 11603,
 'montgomery': 11559,
 '2d': 11520,
 'formerly': 11464,
 'anderson': 11447,
 'traditionary': 11436,
 'ago': 11407,
 'appointed': 11406,
 '9th': 11344,
 'naval': 11340,
 'places': 11330,
 'relinquishes': 11327,
 'periods': 11300,
 'direct': 11291,
 'dec.': 11266,
 'servant': 11239,
 'administer': 11224,
 'purporting': 11223,
 'possession': 11222,
 'signatures': 11207,
 'back': 11201,
 '2.': 11194,
 'courts': 11191,
 'applied': 11167,
 'notes': 11122,
 'former': 11111,
 'archives': 11102,
 '12th': 11091,
 'applicants': 11090,
 'ordered': 11082,
 'identical': 11071,
 'therein': 11067,
 'based': 11044,
 'till': 11040,
 'joshua': 11011,
 'live': 10990,
 '14th': 10972,
 'elijah': 10951,
 'frederick': 10914,
 'fourth': 10906,
 'ninety': 10882,
 'parents': 10868,
 'printed': 10844,
 'presence': 10838,
 'government': 10832,
 'granting': 10824,
 'granted': 10823,
 'authenticated': 10817,
 'understood': 10806,
 'free': 10805,
 'use': 10795,
 'certifies': 10783,
 'follow': 10779,
 '___': 10774,
 'francis': 10774,
 'procure': 10773,
 '13th': 10717,
 'campbell': 10711,
 '16th': 10709,
 'prior': 10682,
 'doubt': 10673,
 'address': 10665,
 'honorable': 10662,
 'assistance': 10655,
 'pri': 10634,
 '...': 10620,
 '28th': 10596,
 'authorized': 10574,
 '25th': 10554,
 'satisfactory': 10529,
 '19th': 10526,
 'wilson': 10514,
 'less': 10501,
 'morgan': 10497,
 'produce': 10484,
 '24th': 10481,
 '1783': 10444,
 'drew': 10437,
 'regard': 10431,
 'reside': 10415,
 'josiah': 10409,
 'referred': 10402,
 'street': 10385,
 '27th': 10348,
 'affiant': 10314,
 '31': 10284,
 'boston': 10235,
 'engagement': 10213,
 'putting': 10195,
 '29th': 10195,
 'increase': 10164,
 'hiller': 10159,
 '3.': 10146,
 '1841': 10103,
 'u.s.': 10099,
 'child': 10087,
 'margaret': 10064,
 'oct.': 10058,
 'concerning': 10040,
 '1828': 10029,
 'remember': 10027,
 'small': 10017,
 'respecting': 10013,
 'ebenezer': 10001,
 '”': 9989,
 'makes': 9977,
 'thos': 9924,
 '_____': 9923,
 'party': 9918,
 '30th': 9916,
 'thompson': 9915,
 'east': 9909,
 'guilford': 9898,
 'subject': 9896,
 'apr': 9877,
 'duration': 9862,
 'furnish': 9856,
 'corps': 9850,
 'warren': 9840,
 'possible': 9828,
 '4.': 9802,
 'answers': 9786,
 'delaware': 9778,
 'benefits': 9763,
 'jackson': 9736,
 'moore': 9719,
 'actual': 9679,
 'past': 9654,
 'board': 9651,
 'member': 9624,
 'n.c.': 9606,
 'interest': 9600,
 'untill': 9599,
 '1846': 9585,
 'provide': 9542,
 'credibility': 9527,
 'verily': 9524,
 'margin': 9513,
 'jno': 9496,
 'rule': 9489,
 'authority': 9487,
 'decd': 9474,
 'register': 9464,
 'acres': 9459,
 'enclose': 9451,
 'attend': 9438,
 '21st': 9434,
 'illinois': 9432,
 'exhibited': 9410,
 'tories': 9410,
 'quarter': 9398,
 'inform': 9386,
 'ny': 9362,
 'sufficient': 9360,
 'short': 9358,
 '1842': 9320,
 'miss': 9317,
 'hartford': 9311,
 'dead': 9304,
 'bible': 9277,
 'need': 9268,
 'semi-anl': 9261,
 '26th': 9251,
 'richmond': 9223,
 'fairfield': 9190,
 'go': 9188,
 'philip': 9135,
 'establishment': 9089,
 'recollects': 9076,
 'greene': 9056,
 'attention': 9053,
 'directed': 9033,
 'grades': 9012,
 'young': 9011,
 'reduced': 8930,
 'payable': 8915,
 'honor': 8908,
 'penn': 8897,
 'get': 8875,
 'ought': 8838,
 'national': 8828,
 'king': 8828,
 'administration': 8814,
 'martha': 8813,
 'laws': 8812,
 'become': 8809,
 'baltimore': 8808,
 '..': 8806,
 'read': 8794,
 'summer': 8789,
 'advise': 8786,
 'fifth': 8732,
 'declared': 8732,
 'feb.': 8728,
 'windsor': 8720,
 'trust': 8714,
 'admitted': 8619,
 'dept': 8577,
 'lee': 8575,
 'prisoner': 8569,
 'gen': 8567,
 '1852': 8554,
 'unless': 8519,
 'supported': 8500,
 'total': 8491,
 'report': 8474,
 'jane': 8453,
 'jeremiah': 8453,
 '____': 8446,
 'winter': 8445,
 'determine': 8437,
 'estate': 8406,
 'lives': 8367,
 'territory': 8364,
 'presents': 8355,
 'often': 8339,
 'wounded': 8320,
 'wid': 8308,
 'forwarded': 8289,
 'j.l': 8286,
 'precise': 8266,
 'value': 8263,
 'obtaining': 8254,
 'solemn': 8254,
 'rejected': 8187,
 'saml': 8172,
 'precision': 8161,
 'respect': 8156,
 'charleston': 8144,
 'columbia': 8132,
 'harris': 8120,
 ...}

In [ ]:
# Save the sorted filtered dictionary to JSON
with open('sorted_filtered_combined_freq_dict.json', 'w') as f:
    json.dump(sorted_filtered_combined_freq_dict, f, indent=2)

### Save smaller df with just rows from animals, hopelessness, and religious categories

In [31]:
# Load the hopelessness words from JSON
with open('frequency_hopelessness_10.json', 'r') as f:
    hopelessness_dict = json.load(f)

# Extract just the keys (words)
hopelessness_words = list(hopelessness_dict.keys())

# Display the words
# print(f"Imported {len(hopelessness_words)} hopelessness words:")
# print(hopelessness_words)

Imported 15 hopelessness words:
['needy', 'poverty', 'destitute', 'afflicted', 'affliction', 'helpless', 'suffering', 'suffer', 'pain', 'painful', 'hardships', 'hardship', 'distress', 'distressed', 'despondent']

In [33]:
with open('frequency_religion_10.json', 'r') as f:
    religion_dict = json.load(f)

# Extract just the keys (words)
religion_words = list(religion_dict.keys())

# Display the words
# print(f"Imported {len(religion_words)} religion words:")
# print(religion_words)

Imported 10 religion words:
['clergyman', 'lord', 'church', 'bible', 'christian', 'minister', 'god', 'bishop', 'pastor', 'pope']

In [34]:
with open('frequency_animals_farm_10.json', 'r') as f:
    animals_dict = json.load(f)

# Extract just the keys (words)
animals_words = list(animals_dict.keys())

# Display the words
# print(f"Imported {len(animals_words)} animals words:")
# print(animals_words)

Imported 15 animals words:
['cow', 'cows', 'bull', 'cattle', 'sheep', 'lamb', 'lambs', 'hogs', 'hog', 'pigs', 'pig', 'mare', 'colt', 'heifer', 'heifers']

In [35]:
def categorize_frequency_keys(frequency_keys_str):
    """
    Categorize frequency keys based on word lists.
    Returns a string of categories separated by '||'
    """
    if pd.isna(frequency_keys_str) or frequency_keys_str == '':
        return ''
    
    # Split the frequency_keys string into individual words
    words = set(frequency_keys_str.split('||'))
    
    categories = []
    
    # Check for each category
    if words.intersection(hopelessness_words):
        categories.append('hopelessness')
    
    if words.intersection(religion_words):
        categories.append('religion')
    
    if words.intersection(animals_words):
        categories.append('animals')
    
    # Join categories with '||' if multiple, return empty string if none
    return '||'.join(categories) if categories else None

In [36]:
# Apply the function to create the new column
df_with_dict_categorized = df_with_dict.copy()
df_with_dict_categorized['frequency_categories'] = df_with_dict_categorized['frequency_keys'].apply(categorize_frequency_keys)

In [38]:
# Check the results
print(f"Total rows: {len(df_with_dict_categorized)}")
print(f"\nCategory distribution:")
print(df_with_dict_categorized['frequency_categories'].value_counts())
print(f"\nSample rows with categories:")
print(df_with_dict_categorized[['frequency_keys', 'frequency_categories']].head(20))

Total rows: 604716

Category distribution:
frequency_categories
religion                           56037
animals                             6229
hopelessness                        5477
religion||animals                    842
hopelessness||religion               812
hopelessness||animals                437
                                      66
hopelessness||religion||animals       58
Name: count, dtype: int64

Sample rows with categories:
                                       frequency_keys frequency_categories
14  3||1776||service||mass||woodbury||peter||10009...                 None
15  vermont||18.682||--||peter||woodbury||windsor|...                 None
16  9316||peter||woodbury||admit||11||mos||28||ds|...                 None
17  brief||objections||admission||pension||claims|...                 None
18  2||xi||applicant||obtained||evidence||clergyma...             religion
19  3||important||cases||determine||precision||per...                 None
20  9316||peter||woodbury||bethel||vt.||return||oe...                 None
21  state||vermont||windsor||county||ss||25th||day...                 None
22  born||sutton||county||worcester||state||mass||...             religion
23  uriah||green||pitsfield||pittsfield||county||r...                 None
24  state||vermont||windsor||county||ss||woodstock...                 None
25  19171||invalid||file||19,171||peter||woodbury|...                 None
44  3||--||1776||service||number||mass||massachuse...                 None
45  left||fold||hon||j||fletcher||15||feby||februa...                 None
46  left||fold||notification||sent||17||july||1821...                 None
47  state||vermont||county||essex||ss||fifth||day|...                 None
48  died||eighth||day||december||one||thousand||ei...                 None
49  state||vermont||essex||county||ss||william||ga...                 None
50  hannah||woodbury||concord||county||essex||stat...                 None
51  josiah||goodell||concord||county||essex||state...                 None

In [39]:
df_with_dict_categorized.head()

,NAID,naraURL,pageObjectId,pageURL,transcriptionText,file_cat,frequency_distribution,frequency_keys,frequency_categories
14,111769405,https://catalog.archives.gov/id/111769405,111769406,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,"(3 - 1776)\nSERVICE\nMass.\nWoodbury, Peter\n1...",soldier,"{'3': 1, '1776': 1, 'service': 1, 'mass': 1, '...",3||1776||service||mass||woodbury||peter||10009...,None
15,111769405,https://catalog.archives.gov/id/111769405,111769407,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Vermont 18.682\n---\nPeter Woodbury\nof Windso...,soldier,"{'vermont': 3, '18.682': 1, '--': 1, 'peter': ...",vermont||18.682||--||peter||woodbury||windsor|...,None
16,111769405,https://catalog.archives.gov/id/111769405,111769408,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,9316\nPeter Woodbury\nAdmit\n11 mos 28 ds\nRet...,soldier,"{'9316': 1, 'peter': 1, 'woodbury': 1, 'admit'...",9316||peter||woodbury||admit||11||mos||28||ds|...,None
17,111769405,https://catalog.archives.gov/id/111769405,111769409,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,BRIEF objections to the admission of Pension C...,soldier,"{'brief': 1, 'objections': 1, 'admission': 1, ...",brief||objections||admission||pension||claims|...,None
18,111769405,https://catalog.archives.gov/id/111769405,111769410,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,2\nXI. Has the applicant obtained the evidence...,soldier,"{'2': 1, 'xi': 1, 'applicant': 5, 'obtained': ...",2||xi||applicant||obtained||evidence||clergyma...,religion

#### Filter frequency_keys column to only include words in the top 10 lists

In [40]:
def filter_frequency_keys(frequency_keys_str):
    """
    Filter frequency_keys to only include words from hopelessness_words, 
    religion_words, and animals_words.
    Returns a string of filtered words separated by '||'
    """
    if pd.isna(frequency_keys_str) or frequency_keys_str == '':
        return ''
    
    # Split the frequency_keys string into individual words
    words = frequency_keys_str.split('||')
    
    # Combine all three word lists into a single set for efficient lookup
    all_category_words = set(hopelessness_words + religion_words + animals_words)
    
    # Filter to only keep words that are in any of the category word lists
    filtered_words = [word for word in words if word in all_category_words]
    
    # Join filtered words with '||', return empty string if none found
    return '||'.join(filtered_words) if filtered_words else ''

In [41]:
# Apply the function to update the frequency_keys column
df_with_dict_categorized['frequency_keys'] = df_with_dict_categorized['frequency_keys'].apply(filter_frequency_keys)

In [42]:
# Check the results
print(f"Total rows: {len(df_with_dict_categorized)}")
print(f"\nSample of filtered frequency_keys:")
print(df_with_dict_categorized[['frequency_keys', 'frequency_categories']].head(20))
print(f"\nRows with non-empty frequency_keys after filtering:")
print(df_with_dict_categorized[df_with_dict_categorized['frequency_keys'] != ''][['frequency_keys', 'frequency_categories']].head(20))

Total rows: 604716

Sample of filtered frequency_keys:
   frequency_keys frequency_categories
14                                None
15                                None
16                                None
17                                None
18      clergyman             religion
19                                None
20                                None
21                                None
22      clergyman             religion
23                                None
24                                None
25                                None
44                                None
45                                None
46                                None
47                                None
48                                None
49                                None
50                                None
51                                None

Rows with non-empty frequency_keys after filtering:
                         frequency_keys frequency_categories
18                            clergyman             religion
22                            clergyman             religion
53                cows||heifer||heifers              animals
54                         sheep||lambs              animals
57    cows||bull||heifers||sheep||lambs              animals
62                             minister             religion
67                             minister             religion
83                         cows||heifer              animals
437                               bible             religion
456                     lord||christian             religion
458                           clergyman             religion
459                                lord             religion
472                           clergyman             religion
475                              church             religion
486                               bible             religion
489                    bible||lord||god             religion
491                                lord             religion
492                               bible             religion
494                               bible             religion
1216                             church             religion

In [44]:
df_with_dict_categorized.shape

(604716, 9)

## get sample rows to save as CSV to use on frontend
##### probably want approximately 100 images per word

#### start by getting rows that contain multiple catetories

In [49]:
# Filter to only rows with multiple categories (contains "||")
df_with_dict_categorized_multi = df_with_dict_categorized[
    df_with_dict_categorized['frequency_categories'].apply(
        lambda x: isinstance(x, str) and '||' in x
    )
].copy()

In [50]:
df_with_dict_categorized_multi.head()

,NAID,naraURL,pageObjectId,pageURL,transcriptionText,file_cat,frequency_distribution,frequency_keys,frequency_categories
3257,111766040,https://catalog.archives.gov/id/111766040,111766046,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,application for a pension which was not grante...,soldier,"{'application': 3, 'pension': 1, 'granted': 1,...",colt||cow||sheep||bible||mare||cows||hogs,religion||animals
5947,111763255,https://catalog.archives.gov/id/111763255,111763275,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,"within the provisions of an act entitled ""an a...",widow,"{'within': 1, 'provisions': 1, 'act': 2, 'enti...",pain||mare||cows||hogs,hopelessness||animals
7096,111762056,https://catalog.archives.gov/id/111762056,111762083,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,An Appeal from the first Congregational Church...,soldier,"{'appeal': 2, 'first': 1, 'congregational': 1,...",church||lord||minister||pastor||god||painful||...,hopelessness||religion
9663,111759450,https://catalog.archives.gov/id/111759450,111759465,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Schedule of property belonging to the Deponent...,soldier,"{'schedule': 1, 'property': 2, 'belonging': 1,...",cow||mare||pigs||suffer,hopelessness||animals
9964,111759108,https://catalog.archives.gov/id/111759108,111759143,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,And I the said Philip Wolfenbarger do furtherm...,widow,"{'said': 5, 'philip': 3, 'wolfenbarger': 2, 'f...",suffering||lord,hopelessness||religion

In [60]:
# Check the results
print(f"Total rows with multiple categories: {len(df_with_dict_categorized_multi)}")
print(f"\nCategory distribution:")
print(df_with_dict_categorized_multi['frequency_categories'].value_counts())
# print(f"\nSample rows:")
# print(df_with_dict_categorized_multi[['frequency_keys', 'frequency_categories']].head(20))

Total rows with multiple categories: 5808

Category distribution:
frequency_categories
religion                           2966
religion||animals                   842
hopelessness||religion              812
animals                             522
hopelessness||animals               437
hopelessness                        171
hopelessness||religion||animals      58
Name: count, dtype: int64

### Check if filtered df has at least 100 entries for each word

In [61]:
# Initialize a Counter to collect all words
multi_category_word_freq = Counter()

# Iterate through each row's frequency_keys
for frequency_keys_str in df_with_dict_categorized_multi['frequency_keys']:
    # Skip empty strings or NaN values
    if pd.isna(frequency_keys_str) or frequency_keys_str == '':
        continue
    
    # Split by '||' to get individual words
    words = frequency_keys_str.split('||')
    
    # Add each word to the counter
    multi_category_word_freq.update(words)

# Convert to regular dictionary and sort by frequency (descending)
multi_category_word_freq_dict = dict(sorted(
    multi_category_word_freq.items(), 
    key=lambda x: x[1], 
    reverse=True
))

# Display results
print(f"Total unique words: {len(multi_category_word_freq_dict)}")
print(f"\nTop 20 most frequent words:")
for word, count in list(multi_category_word_freq_dict.items())[:20]:
    print(f"  {word}: {count}")

# Show the full dictionary
multi_category_word_freq_dict

Total unique words: 40

Top 20 most frequent words:
  church: 2414
  pastor: 1700
  minister: 1224
  lord: 1173
  clergyman: 758
  cow: 641
  sheep: 504
  bible: 477
  cows: 394
  heifer: 365
  colt: 341
  hogs: 341
  afflicted: 322
  cattle: 313
  mare: 312
  bishop: 277
  god: 241
  christian: 230
  pigs: 228
  bull: 218

{'church': 2414,
 'pastor': 1700,
 'minister': 1224,
 'lord': 1173,
 'clergyman': 758,
 'cow': 641,
 'sheep': 504,
 'bible': 477,
 'cows': 394,
 'heifer': 365,
 'colt': 341,
 'hogs': 341,
 'afflicted': 322,
 'cattle': 313,
 'mare': 312,
 'bishop': 277,
 'god': 241,
 'christian': 230,
 'pigs': 228,
 'bull': 218,
 'destitute': 216,
 'poverty': 188,
 'lamb': 171,
 'pain': 167,
 'helpless': 165,
 'pope': 164,
 'hardships': 160,
 'suffering': 159,
 'lambs': 122,
 'needy': 110,
 'hog': 107,
 'distress': 100,
 'suffer': 81,
 'affliction': 48,
 'painful': 47,
 'heifers': 44,
 'pig': 40,
 'hardship': 36,
 'distressed': 31,
 'despondent': 25}

In [62]:
# Get all category words
all_category_words = set(hopelessness_words + religion_words + animals_words)

# Find words that don't have at least 100 entries
words_below_100 = []

for word in all_category_words:
    count = multi_category_word_freq_dict.get(word, 0)
    if count < 100:
        words_below_100.append((word, count))

# Sort by count (ascending)
words_below_100.sort(key=lambda x: x[1])

print(f"Total category words: {len(all_category_words)}")
print(f"Words with fewer than 100 entries: {len(words_below_100)}\n")

print("Words with fewer than 100 entries:")
for word, count in words_below_100:
    print(f"  {word}: {count}")

# Also show which words are missing entirely (count = 0)
missing_words = [word for word, count in words_below_100 if count == 0]
if missing_words:
    print(f"\nWords completely missing (0 entries): {missing_words}")

Total category words: 40
Words with fewer than 100 entries: 8

Words with fewer than 100 entries:
  despondent: 25
  distressed: 31
  hardship: 36
  pig: 40
  heifers: 44
  painful: 47
  affliction: 48
  suffer: 81

In [ ]:
# words_to_get_more_rows = ["heifer", "distress", "despondent", "hardships", "pope", "pastor", "bishop", "colt", "minister", "pain"]

words_to_get_more_rows = ["despondent"]
# Create a set for efficient lookup
words_to_get_more_rows_set = set(words_to_get_more_rows)

### fetch more rows from df_with_dict_categorized and add to df_with_dict_categorized_multi

In [58]:
# Filter rows that:
# 1. Have "||" in frequency_keys (multiple words) - using string contains, not regex
# 2. Contain at least one word from words_to_get_more_rows
def contains_target_word_and_multiple_keys(frequency_keys_str):
    """
    Check if frequency_keys contains "||" (multiple words) 
    AND contains at least one word from words_to_get_more_rows
    """
    if pd.isna(frequency_keys_str) or frequency_keys_str == '':
        return False
    
    # Check if it contains "||" (multiple words)
    if '||' not in frequency_keys_str:
        return False
    
    # Split by '||' to get individual words
    words = set(frequency_keys_str.split('||'))
    
    # Check if any word from words_to_get_more_rows is in the words
    return bool(words.intersection(words_to_get_more_rows_set))

# Filter the dataframe
additional_rows = df_with_dict_categorized[
    df_with_dict_categorized['frequency_keys'].apply(contains_target_word_and_multiple_keys)
].copy()

print(f"Found {len(additional_rows)} additional rows")
print(f"\nCategory distribution of additional rows:")
print(additional_rows['frequency_categories'].value_counts())

# Check which rows are NOT already in df_with_dict_categorized_multi
# Using index to identify unique rows
existing_indices = set(df_with_dict_categorized_multi.index)
new_rows = additional_rows[~additional_rows.index.isin(existing_indices)].copy()

print(f"\nRows already in df_with_dict_categorized_multi: {len(additional_rows) - len(new_rows)}")
print(f"New rows to add: {len(new_rows)}")

# Show sample of new rows
if len(new_rows) > 0:
    print(f"\nSample of new rows to add:")
    print(new_rows[['frequency_keys', 'frequency_categories']].head(10))
    
    # Add the new rows to df_with_dict_categorized_multi
    df_with_dict_categorized_multi = pd.concat([df_with_dict_categorized_multi, new_rows])
    
    print(f"\nUpdated df_with_dict_categorized_multi shape: {df_with_dict_categorized_multi.shape}")
    print(f"\nUpdated category distribution:")
    print(df_with_dict_categorized_multi['frequency_categories'].value_counts())
else:
    print("\nNo new rows to add - all rows already exist in df_with_dict_categorized_multi")

Found 4206 additional rows

Category distribution of additional rows:
frequency_categories
religion                           2966
animals                             522
hopelessness||religion              275
hopelessness                        171
religion||animals                   139
hopelessness||animals               110
hopelessness||religion||animals      23
Name: count, dtype: int64

Rows already in df_with_dict_categorized_multi: 547
New rows to add: 3659

Sample of new rows to add:
                              frequency_keys frequency_categories
53                     cows||heifer||heifers              animals
83                              cows||heifer              animals
3265                cows||colt||sheep||lambs              animals
5852                        church||minister             religion
7077                          pastor||church             religion
8128   cows||heifer||hogs||pigs||sheep||colt              animals
9722                         pain||suffering         hopelessness
12841              clergyman||church||pastor             religion
14080                         pastor||church             religion
14081                         pastor||church             religion

Updated df_with_dict_categorized_multi shape: (5808, 9)

Updated category distribution:
frequency_categories
religion                           2966
religion||animals                   842
hopelessness||religion              812
animals                             522
hopelessness||animals               437
hopelessness                        171
hopelessness||religion||animals      58
Name: count, dtype: int64

#### last remaining word to fill up is "despondent" - fetch 75 additional rows

In [64]:
# Filter rows that contain "despondent"
def contains_despondent(frequency_keys_str):
    """Check if frequency_keys contains 'despondent'"""
    if pd.isna(frequency_keys_str) or frequency_keys_str == '':
        return False
    words = set(frequency_keys_str.split('||'))
    return 'despondent' in words

# Get all rows containing "despondent"
despondent_rows = df_with_dict_categorized[
    df_with_dict_categorized['frequency_keys'].apply(contains_despondent)
].copy()

print(f"Found {len(despondent_rows)} total rows containing 'despondent'")

# Check which are NOT already in df_with_dict_categorized_multi
existing_indices = set(df_with_dict_categorized_multi.index)
new_despondent_rows = despondent_rows[~despondent_rows.index.isin(existing_indices)].copy()

print(f"Rows already in df_with_dict_categorized_multi: {len(despondent_rows) - len(new_despondent_rows)}")
print(f"New rows available: {len(new_despondent_rows)}")

# Sort by whether they have multiple keys (favoring rows with "||")
# Create a column to indicate multiple keys
new_despondent_rows['has_multiple_keys'] = new_despondent_rows['frequency_keys'].apply(
    lambda x: '||' in str(x) if pd.notna(x) else False
)

# Sort: first by has_multiple_keys (descending - True first)
new_despondent_rows_sorted = new_despondent_rows.sort_values(
    by='has_multiple_keys',
    ascending=False
)

# Take up to 75 rows
rows_to_add = new_despondent_rows_sorted.head(75).copy()

# Drop the temporary column
rows_to_add = rows_to_add.drop(columns=['has_multiple_keys'])

print(f"\nSelected {len(rows_to_add)} rows to add")
print(f"Rows with multiple keys: {rows_to_add['frequency_keys'].str.contains('||', regex=False, na=False).sum()}")

# Show sample
print(f"\nSample of rows to add:")
print(rows_to_add[['frequency_keys', 'frequency_categories']].head(10))

# Add to df_with_dict_categorized_multi
df_with_dict_categorized_multi = pd.concat([df_with_dict_categorized_multi, rows_to_add])

print(f"\nUpdated df_with_dict_categorized_multi shape: {df_with_dict_categorized_multi.shape}")
print(f"\nUpdated category distribution:")
print(df_with_dict_categorized_multi['frequency_categories'].value_counts())

Found 145 total rows containing 'despondent'
Rows already in df_with_dict_categorized_multi: 25
New rows available: 120

Selected 75 rows to add
Rows with multiple keys: 0

Sample of rows to add:
        frequency_keys frequency_categories
44290       despondent         hopelessness
63525       despondent         hopelessness
1813023     despondent         hopelessness
1803783     despondent         hopelessness
1791612     despondent         hopelessness
1740552     despondent         hopelessness
1740501     despondent         hopelessness
1698597     despondent         hopelessness
1692084     despondent         hopelessness
1616929     despondent         hopelessness

Updated df_with_dict_categorized_multi shape: (5883, 9)

Updated category distribution:
frequency_categories
religion                           2966
religion||animals                   842
hopelessness||religion              812
animals                             522
hopelessness||animals               437
hopelessness                        246
hopelessness||religion||animals      58
Name: count, dtype: int64

In [66]:
df_with_dict_categorized_multi.shape

(5883, 9)

## now let's see how many unique NAIDs are included in this selection

In [67]:
# Count unique NAID values
naid_counts = df_with_dict_categorized_multi['NAID'].value_counts().to_dict()

# Or using Counter
# naid_counts = dict(Counter(df_with_dict_categorized_multi['NAID']))

print(f"Total unique NAIDs: {len(naid_counts)}")
print(f"Total rows: {len(df_with_dict_categorized_multi)}")

# Show some statistics
print(f"\nNAIDs appearing most frequently:")
sorted_naid_counts = dict(sorted(naid_counts.items(), key=lambda x: x[1], reverse=True))
for naid, count in list(sorted_naid_counts.items())[:10]:
    print(f"  NAID {naid}: {count} times")

# Show NAIDs that appear multiple times
multiple_occurrences = {naid: count for naid, count in naid_counts.items() if count > 1}
print(f"\nNAIDs appearing more than once: {len(multiple_occurrences)}")
if len(multiple_occurrences) > 0:
    print(f"Max occurrences for a single NAID: {max(naid_counts.values())}")

# Display the dictionary
naid_counts

Total unique NAIDs: 3818
Total rows: 5883

NAIDs appearing most frequently:
  NAID 144224657: 11 times
  NAID 53899621: 10 times
  NAID 53929009: 10 times
  NAID 54930281: 9 times
  NAID 54740419: 9 times
  NAID 144225574: 8 times
  NAID 54729136: 8 times
  NAID 196341994: 8 times
  NAID 144075059: 8 times
  NAID 54241007: 8 times

NAIDs appearing more than once: 1212
Max occurrences for a single NAID: 11

{'144224657': 11,
 '53899621': 10,
 '53929009': 10,
 '54930281': 9,
 '54740419': 9,
 '144225574': 8,
 '54729136': 8,
 '196341994': 8,
 '144075059': 8,
 '54241007': 8,
 '53973551': 7,
 '54213872': 7,
 '54937647': 7,
 '54416514': 7,
 '111445353': 7,
 '53974810': 7,
 '144124253': 7,
 '196631399': 7,
 '111781503': 6,
 '53974434': 6,
 '54948446': 6,
 '53973443': 6,
 '54466352': 6,
 '196372017': 6,
 '144300461': 6,
 '54516759': 6,
 '144157311': 6,
 '53906156': 6,
 '54903523': 6,
 '54718724': 6,
 '53923177': 6,
 '196689884': 6,
 '53929423': 6,
 '54604300': 6,
 '144342301': 6,
 '54703036': 6,
 '196305198': 6,
 '144214085': 6,
 '54774383': 6,
 '53914070': 6,
 '54379521': 6,
 '111473065': 6,
 '54072909': 6,
 '196387762': 6,
 '111717203': 6,
 '54939123': 6,
 '53921206': 6,
 '53901727': 6,
 '144046793': 5,
 '111471442': 5,
 '111488655': 5,
 '196182947': 5,
 '54338420': 5,
 '54067449': 5,
 '53829850': 5,
 '54273284': 5,
 '144196901': 5,
 '54053320': 5,
 '54917171': 5,
 '54039443': 5,
 '54070323': 5,
 '54642739': 5,
 '144288354': 5,
 '54118464': 5,
 '54144592': 5,
 '144181984': 5,
 '111503362': 5,
 '111425038': 5,
 '53851785': 5,
 '196339130': 5,
 '53781999': 5,
 '54313569': 5,
 '53973054': 5,
 '196239998': 5,
 '196270852': 5,
 '54478982': 5,
 '111461016': 5,
 '53821577': 5,
 '111467534': 5,
 '196257797': 5,
 '53948350': 5,
 '111448097': 5,
 '196193365': 5,
 '196417196': 5,
 '54280912': 5,
 '111722025': 5,
 '53978145': 5,
 '53999582': 5,
 '196153170': 5,
 '54565318': 5,
 '53966554': 5,
 '54947198': 5,
 '54883321': 5,
 '53822641': 5,
 '54201643': 5,
 '196326895': 5,
 '54362226': 5,
 '54235566': 5,
 '111707542': 5,
 '54027938': 5,
 '111705121': 5,
 '144151375': 5,
 '54173819': 4,
 '54496699': 4,
 '54369952': 4,
 '54368890': 4,
 '111431737': 4,
 '54245255': 4,
 '53990737': 4,
 '53973201': 4,
 '196157264': 4,
 '144328000': 4,
 '196734680': 4,
 '53822017': 4,
 '53913706': 4,
 '196142236': 4,
 '54331202': 4,
 '53917635': 4,
 '53919097': 4,
 '53921125': 4,
 '196222645': 4,
 '196740408': 4,
 '196106496': 4,
 '54534690': 4,
 '196220732': 4,
 '54194576': 4,
 '53846041': 4,
 '54769787': 4,
 '54720754': 4,
 '54097640': 4,
 '196484985': 4,
 '196313446': 4,
 '196211315': 4,
 '54939608': 4,
 '196186008': 4,
 '196308175': 4,
 '54654701': 4,
 '54153555': 4,
 '54160986': 4,
 '111525775': 4,
 '111485052': 4,
 '196416846': 4,
 '53862108': 4,
 '54948026': 4,
 '144315620': 4,
 '111474799': 4,
 '54336128': 4,
 '53913386': 4,
 '54428711': 4,
 '53909336': 4,
 '53905979': 4,
 '53903823': 4,
 '53901961': 4,
 '54517243': 4,
 '54513635': 4,
 '111687826': 4,
 '54927977': 4,
 '54316755': 4,
 '111656716': 4,
 '144035954': 4,
 '144300520': 4,
 '111421892': 4,
 '54600558': 4,
 '144293796': 4,
 '54603584': 4,
 '144055206': 4,
 '196671030': 4,
 '111670224': 4,
 '196117280': 4,
 '54956450': 4,
 '54106251': 4,
 '54097945': 4,
 '54503727': 4,
 '144190241': 4,
 '54509960': 4,
 '54707698': 4,
 '144343850': 4,
 '144206396': 4,
 '53867184': 4,
 '144092874': 4,
 '54690441': 4,
 '111515777': 4,
 '54653690': 4,
 '53926080': 4,
 '196281899': 4,
 '54590936': 4,
 '196327015': 4,
 '54191903': 4,
 '54273180': 4,
 '111520596': 4,
 '54215411': 4,
 '196374445': 4,
 '53974384': 4,
 '196383472': 4,
 '196296228': 4,
 '54218633': 4,
 '111500191': 4,
 '144137854': 4,
 '54237399': 4,
 '53974339': 4,
 '53935378': 4,
 '53973156': 4,
 '196265263': 4,
 '53941188': 4,
 '53852117': 3,
 '111522364': 3,
 '53973241': 3,
 '196340488': 3,
 '54859340': 3,
 '53976345': 3,
 '196416674': 3,
 '196143037': 3,
 '53852779': 3,
 '53975579': 3,
 '54873310': 3,
 '196685595': 3,
 '54667333': 3,
 '53845297': 3,
 '196313258': 3,
 '54706304': 3,
 '54369310': 3,
 '196149949': 3,
 '54879680': 3,
 '54475969': 3,
 '196379477': 3,
 '54106399': 3,
 '54737082': 3,
 '53841186': 3,
 '54875294': 3,
 '54933840': 3,
 '54915552': 3,
 '54887383': 3,
 '196742648': 3,
 '54839254': 3,
 '111448907': 3,
 '54838826': 3,
 '196115731': 3,
 '196614342': 3,
 '53777202': 3,
 '54494916': 3,
 '196417405': 3,
 '53779055': 3,
 '144306003': 3,
 '54683671': 3,
 '53861475': 3,
 '54637843': 3,
 '54392580': 3,
 '54642848': 3,
 '54393231': 3,
 '196140617': 3,
 '54918454': 3,
 '196326781': 3,
 '196416877': 3,
 '196323482': 3,
 '196416969': 3,
 '54638080': 3,
 '54742687': 3,
 '53851617': 3,
 '54394449': 3,
 '54410697': 3,
 '53855693': 3,
 '54916087': 3,
 '196632154': 3,
 '196639347': 3,
 '196634575': 3,
 '144035482': 3,
 '53962447': 3,
 '54961325': 3,
 '54817451': 3,
 '196429097': 3,
 '196369205': 3,
 '54215551': 3,
 '54013292': 3,
 '54807070': 3,
 '54812340': 3,
 '54795757': 3,
 '54793857': 3,
 '196280251': 3,
 '54140057': 3,
 '196244550': 3,
 '54946831': 3,
 '54615592': 3,
 '111511144': 3,
 '144276998': 3,
 '144040349': 3,
 '196190113': 3,
 '144238823': 3,
 '196654024': 3,
 '144054111': 3,
 '54962329': 3,
 '54729897': 3,
 '196656438': 3,
 '196360282': 3,
 '196657104': 3,
 '54223852': 3,
 '196362144': 3,
 '144290658': 3,
 '196228922': 3,
 '111673711': 3,
 '54053085': 3,
 '196720648': 3,
 '196650650': 3,
 '53973672': 3,
 '196395780': 3,
 '54718505': 3,
 '111535475': 3,
 '111422110': 3,
 '54665554': 3,
 '54781113': 3,
 '54454164': 3,
 '53974295': 3,
 '54870023': 3,
 '111525153': 3,
 '54568520': 3,
 '196641808': 3,
 '54662891': 3,
 '53774346': 3,
 '54159248': 3,
 '54581910': 3,
 '111662192': 3,
 '144169243': 3,
 '144268867': 3,
 '54586774': 3,
 '54803696': 3,
 '53776879': 3,
 '54587541': 3,
 '54802249': 3,
 '54270086': 3,
 '54067399': 3,
 '54741022': 3,
 '196295436': 3,
 '54266228': 3,
 '54744303': 3,
 '54621945': 3,
 '54549609': 3,
 '196699164': 3,
 '54337042': 3,
 '53818699': 3,
 '54336687': 3,
 '111461135': 3,
 '196623619': 3,
 '54860897': 3,
 '54352331': 3,
 '54325365': 3,
 '54423476': 3,
 '54528808': 3,
 '54330460': 3,
 '54043580': 3,
 '53952295': 3,
 '144199640': 3,
 '196077940': 3,
 '54340604': 3,
 '54416656': 3,
 '53877568': 3,
 '54424183': 3,
 '144188834': 3,
 '54706929': 3,
 '196301750': 3,
 '144183741': 3,
 '196326964': 3,
 '54350298': 3,
 '144150075': 3,
 '54069765': 3,
 '196083822': 3,
 '144291157': 3,
 '196209683': 3,
 '196263930': 3,
 '144155308': 3,
 '54331874': 3,
 '54256347': 3,
 '144245823': 3,
 '144315243': 3,
 '54164033': 3,
 '196327256': 3,
 '54437867': 3,
 '54013540': 3,
 '144145747': 3,
 '196242850': 3,
 '54413654': 3,
 '54281871': 3,
 '111453616': 3,
 '53871504': 3,
 '196745631': 3,
 '54008432': 3,
 '54588405': 3,
 '54841075': 3,
 '53879886': 3,
 '54253336': 3,
 '54199482': 3,
 '54511183': 3,
 '196710636': 3,
 '54111477': 3,
 '54557997': 3,
 '54393520': 3,
 '144345530': 3,
 '196628887': 3,
 '54555735': 3,
 '144271461': 3,
 '54443736': 3,
 '54199625': 3,
 '54193534': 3,
 '53890416': 3,
 '54341544': 3,
 '54895276': 3,
 '54440608': 3,
 '196142432': 3,
 '54532506': 3,
 '196150400': 3,
 '53984535': 3,
 '54158616': 3,
 '53952330': 3,
 '54633266': 3,
 '54530187': 3,
 '196095341': 3,
 '54016601': 3,
 '53941693': 3,
 '54475931': 3,
 '54693759': 3,
 '196684445': 3,
 '54501131': 3,
 '111435584': 3,
 '144083795': 3,
 '54934010': 3,
 '196098054': 3,
 '54524376': 3,
 '53983280': 3,
 '54028788': 3,
 '54687710': 3,
 '196674857': 3,
 '54629678': 3,
 '196617275': 3,
 '53949689': 3,
 '111521050': 3,
 '144315448': 3,
 '196689354': 3,
 '54095798': 3,
 '196475462': 3,
 '53827848': 3,
 '54684779': 3,
 '196237979': 3,
 '54546273': 3,
 '111645820': 3,
 '53952370': 3,
 '54120564': 3,
 '54270220': 3,
 '54409404': 3,
 '196132528': 3,
 '111715435': 3,
 '196319480': 3,
 '144309031': 3,
 '111708280': 3,
 '53798588': 3,
 '196477407': 3,
 '53945299': 3,
 '53809175': 3,
 '111742590': 3,
 '54924900': 3,
 '54894153': 3,
 '53812496': 3,
 '54748883': 3,
 '196141423': 3,
 '54018634': 3,
 '196327171': 2,
 '111518552': 2,
 '196725277': 2,
 '196233677': 2,
 '196720598': 2,
 '196730283': 2,
 '196723868': 2,
 '196238553': 2,
 '196324451': 2,
 '54928497': 2,
 '196702305': 2,
 '196712668': 2,
 '111520495': 2,
 '196234772': 2,
 '196734420': 2,
 '196327097': 2,
 '196320004': 2,
 '54005077': 2,
 '196732097': 2,
 '196718595': 2,
 '53989366': 2,
 '196697452': 2,
 '111525187': 2,
 '53985358': 2,
 '53872925': 2,
 '196178571': 2,
 '144111833': 2,
 '54412423': 2,
 '54341162': 2,
 '54259509': 2,
 '54247325': 2,
 '54342829': 2,
 '144114458': 2,
 '144114653': 2,
 '54381520': 2,
 '54346116': 2,
 '54347897': 2,
 '54238953': 2,
 '144117231': 2,
 '54634119': 2,
 '53825170': 2,
 '196379419': 2,
 '54232914': 2,
 '196095502': 2,
 '111434364': 2,
 '196382874': 2,
 '196384598': 2,
 '111438350': 2,
 '54405642': 2,
 '196372198': 2,
 '111443762': 2,
 '53828406': 2,
 '54440367': 2,
 '54850167': 2,
 '54652413': 2,
 '54850883': 2,
 '54851075': 2,
 '54399826': 2,
 '54326600': 2,
 '54652111': 2,
 '54398389': 2,
 '54838167': 2,
 '144094991': 2,
 '54859855': 2,
 '54402519': 2,
 '54642008': 2,
 '54334596': 2,
 '54402791': 2,
 '54639212': 2,
 '54337791': 2,
 '144111756': 2,
 '54403344': 2,
 '54415825': 2,
 '111726038': 2,
 '53824381': 2,
 '196360710': 2,
 '111525630': 2,
 '111521117': 2,
 '196158322': 2,
 '54159813': 2,
 '54205671': 2,
 '196164392': 2,
 '196166754': 2,
 '54210100': 2,
 '111531200': 2,
 '111530982': 2,
 '196343427': 2,
 '54137486': 2,
 '54137401': 2,
 '111525309': 2,
 '54216298': 2,
 '196233368': 2,
 '54942732': 2,
 '196351626': 2,
 '196357638': 2,
 '196233622': 2,
 '196185056': 2,
 '54942488': 2,
 '196150153': 2,
 '111709814': 2,
 '196387333': 2,
 '196145466': 2,
 '196103603': 2,
 '196104326': 2,
 '196109914': 2,
 '54624212': 2,
 '111447851': 2,
 '196388477': 2,
 '54404647': 2,
 '54621153': 2,
 '196472849': 2,
 '54402722': 2,
 '54398199': 2,
 '54397421': 2,
 '111449692': 2,
 '54955250': 2,
 '54393884': 2,
 '196478738': 2,
 '54381940': 2,
 '54927781': 2,
 '196485450': 2,
 '53821350': 2,
 '54953119': 2,
 '111516418': 2,
 '53803121': 2,
 '196691394': 2,
 '196353120': 2,
 '196368371': 2,
 '54018489': 2,
 '53945387': 2,
 '196363586': 2,
 '54361577': 2,
 '53913534': 2,
 '53912511': 2,
 '196358653': 2,
 '53912223': 2,
 '196138753': 2,
 '196139882': 2,
 '196353590': 2,
 '54028855': 2,
 '54087372': 2,
 '53912126': 2,
 '54743346': 2,
 '53911407': 2,
 '54036893': 2,
 '53906966': 2,
 '53906846': 2,
 '54039223': 2,
 '54230272': 2,
 '54042118': 2,
 '54747487': 2,
 '54042303': 2,
 '196143311': 2,
 '53915467': 2,
 '53915490': 2,
 '196723925': 2,
 '196724094': 2,
 '54085990': 2,
 '53974359': 2,
 '53975143': 2,
 '54084554': 2,
 '53923230': 2,
 '53923069': 2,
 '53927671': 2,
 '53978392': 2,
 '53923010': 2,
 '53922789': 2,
 '53979200': 2,
 '54741948': 2,
 '196746651': 2,
 '53979360': 2,
 '196744205': 2,
 '111734308': 2,
 '53980255': 2,
 '196737628': 2,
 '111735383': 2,
 '54015263': 2,
 '54361927': 2,
 '196731803': 2,
 '53917351': 2,
 '54016934': 2,
 '53916583': 2,
 '196142375': 2,
 '53879773': 2,
 '54233099': 2,
 '54338183': 2,
 '144204978': 2,
 '54336462': 2,
 '54335283': 2,
 '144207745': 2,
 '196169474': 2,
 '196693923': 2,
 '54654963': 2,
 '54326450': 2,
 '54413761': 2,
 '54325198': 2,
 '144128167': 2,
 '54410980': 2,
 '54410806': 2,
 '196716208': 2,
 '54256655': 2,
 '53983003': 2,
 '144320783': 2,
 '144318252': 2,
 '54682470': 2,
 '144142255': 2,
 '54680155': 2,
 '53876500': 2,
 '54672005': 2,
 '53866280': 2,
 '53874807': 2,
 '144198271': 2,
 '54342018': 2,
 '196481938': 2,
 '144185561': 2,
 '54752509': 2,
 '111743514': 2,
 '196475881': 2,
 '111745281': 2,
 '53904709': 2,
 '53904242': 2,
 '196292143': 2,
 '111749354': 2,
 '53900640': 2,
 '196463135': 2,
 '196462052': 2,
 '111754877': 2,
 '54438394': 2,
 '196112137': 2,
 '196111567': 2,
 '196111169': 2,
 '111769343': 2,
 '54166440': 2,
 '54169435': 2,
 '196096129': 2,
 '196297026': 2,
 '54427304': 2,
 '54774132': 2,
 '54172304': 2,
 '196300319': 2,
 '54737316': 2,
 '54089381': 2,
 '196329716': 2,
 '196120931': 2,
 '196633620': 2,
 '54747052': 2,
 '54619143': 2,
 '196614660': 2,
 '54956947': 2,
 '196140216': 2,
 '196638640': 2,
 '54152904': 2,
 '196135120': 2,
 '196131042': 2,
 '196641045': 2,
 '196641524': 2,
 '196610972': 2,
 '53924548': 2,
 '196116205': 2,
 '54960204': 2,
 '54737031': 2,
 '54663367': 2,
 '54735410': 2,
 '54732555': 2,
 '144029363': 2,
 '111405021': 2,
 '144032855': 2,
 '144049995': 2,
 '54724702': 2,
 '54377384': 2,
 '196633592': 2,
 '196616550': 2,
 '53813587': 2,
 '54098604': 2,
 '196331277': 2,
 '196246975': 2,
 '54165382': 2,
 '144206968': 2,
 '196339987': 2,
 '196256207': 2,
 '54591227': 2,
 '196628161': 2,
 '54592727': 2,
 '54082003': 2,
 '54605061': 2,
 '54082223': 2,
 '144191319': 2,
 '54607192': 2,
 '54086673': 2,
 '144188406': 2,
 '54087303': 2,
 '144183601': 2,
 '196620851': 2,
 '54158877': 2,
 '54770214': 2,
 '54613340': 2,
 '54092414': 2,
 '196278064': 2,
 '53814250': 2,
 '111408407': 2,
 '111727363': 2,
 '144170719': 2,
 '144173238': 2,
 '54711849': 2,
 '54700974': 2,
 '54712885': 2,
 '196652298': 2,
 '54055957': 2,
 '196647266': 2,
 '196646840': 2,
 '54718652': 2,
 '196642374': 2,
 '196641632': 2,
 '196640754': 2,
 '54560273': 2,
 '196186706': 2,
 '54285296': 2,
 '54721908': 2,
 '53959123': 2,
 '54727911': 2,
 '54097746': 2,
 '196186310': 2,
 '54707494': 2,
 '54366907': 2,
 '53967362': 2,
 '53968948': 2,
 '54045038': 2,
 '54093833': 2,
 '54277194': 2,
 '54802501': 2,
 '54686809': 2,
 '144181948': 2,
 '144047595': 2,
 '54144558': 2,
 '54775050': 2,
 '54720034': 2,
 '54139131': 2,
 '54691469': 2,
 '111425404': 2,
 '54781869': 2,
 '54691570': 2,
 '144036177': 2,
 '54261284': 2,
 '54783122': 2,
 '54800156': 2,
 '54800081': 2,
 '54693549': 2,
 '54789051': 2,
 '54790180': 2,
 '54790721': 2,
 '54264202': 2,
 '54789206': 2,
 '54786091': 2,
 '54696300': 2,
 '54374544': 2,
 '54778235': 2,
 '54777686': 2,
 '111766040': 2,
 '144047184': 2,
 '54875974': 2,
 '54198381': 2,
 '54302689': 2,
 '111451761': 2,
 '54316614': 2,
 '196250411': 2,
 '53785799': 2,
 '196253349': 2,
 '54298304': 2,
 '111452428': 2,
 '54294837': 2,
 '196253444': 2,
 '54591450': 2,
 '53791143': 2,
 '54308695': 2,
 '53791579': 2,
 '54202399': 2,
 '54310593': 2,
 '144216548': 2,
 '54209164': 2,
 '144296219': 2,
 '53794015': 2,
 '111496752': 2,
 '54209780': 2,
 '53797879': 2,
 '54603269': 2,
 '196246472': 2,
 '196245324': 2,
 '53781927': 2,
 '54864783': 2,
 '54875864': 2,
 '54874487': 2,
 '53861816': 2,
 '54448304': 2,
 '53878891': 2,
 '54447034': 2,
 '196084824': 2,
 '53774255': 2,
 '54444289': 2,
 '53878323': 2,
 '144246068': 2,
 '53875467': 2,
 '144264258': 2,
 '196234113': 2,
 '144262145': 2,
 '54871347': 2,
 '54869913': 2,
 '144251367': 2,
 '53873087': 2,
 '111443425': 2,
 '54317490': 2,
 '196240262': 2,
 '54310362': 2,
 '111488106': 2,
 '196454617': 2,
 '196388246': 2,
 '54291822': 2,
 '54907299': 2,
 '144228255': 2,
 '196409603': 2,
 '196691145': 2,
 '54816756': 2,
 '54500321': 2,
 '144232988': 2,
 '54687990': 2,
 '54691298': 2,
 '196340742': 2,
 '54291986': 2,
 '144228648': 2,
 '196660395': 2,
 '144225034': 2,
 '54811496': 2,
 '144215153': 2,
 '54506715': 2,
 '144234791': 2,
 '196271619': 2,
 '54810397': 2,
 '196278180': 2,
 '54508957': 2,
 '54702640': 2,
 '54703866': 2,
 '54914725': 2,
 '54915913': 2,
 '54916266': 2,
 '54298747': 2,
 '144149159': 2,
 '144147875': 2,
 '54218763': 2,
 '196666907': 2,
 '54611179': 2,
 '196439859': 2,
 '144216764': 2,
 '196429468': 2,
 '54616901': 2,
 '54306282': 2,
 '144141078': 2,
 '144219382': 2,
 '54225206': 2,
 '54303051': 2,
 '111658623': 2,
 '196317465': 2,
 '144223891': 2,
 '111791754': 2,
 '144028830': 2,
 '196685386': 2,
 '54918766': 2,
 '196489445': 2,
 '144134918': 2,
 '196388616': 2,
 '144113580': 2,
 '54187964': 2,
 '196689789': 2,
 '54510159': 2,
 '54509999': 2,
 '111684410': 2,
 '196422230': 2,
 '54506850': 2,
 '54474325': 2,
 '144089900': 2,
 '53813994': 2,
 '53814656': 2,
 '53815602': 2,
 '54474720': 2,
 '54475344': 2,
 '54529394': 2,
 '53816614': 2,
 '196687921': 2,
 '54354171': 2,
 '196683056': 2,
 '196682548': 2,
 '144074652': 2,
 '196681742': 2,
 '54351903': 2,
 '54480417': 2,
 '53819600': 2,
 '54529359': 2,
 '54513205': 2,
 '54357301': 2,
 '111689995': 2,
 '53804910': 2,
 '196401803': 2,
 '54451853': 2,
 '196222398': 2,
 '54368689': 2,
 '54372295': 2,
 '54372379': 2,
 '196219306': 2,
 '196217030': 2,
 '196213671': 2,
 '54365128': 2,
 '196208739': 2,
 '54373344': 2,
 '54455722': 2,
 '196411782': 2,
 '54458740': 2,
 '54525012': 2,
 '54450626': 2,
 '54376784': 2,
 '54459470': 2,
 '54463979': 2,
 '54464833': 2,
 '196419907': 2,
 '54450006': 2,
 '196671276': 2,
 '196662870': 2,
 '54878635': 2,
 '53857326': 2,
 '53849694': 2,
 '54846008': 2,
 '53847260': 2,
 '54847969': 2,
 '54851773': 2,
 '54881217': 2,
 '53833502': 2,
 '54494555': 2,
 '54493147': 2,
 '53853460': 2,
 '196373884': 2,
 '196377230': 2,
 ...}

### Filter df_with_dict_categorized_multi to maintain the fewest possible NAIDs while still maintaining 100 entries for each word

In [71]:
from collections import Counter, defaultdict

# Define word groups (singular/plural pairs that should be combined)
word_groups = {
    'pig_group': ['pig', 'pigs'],
    'cow_group': ['cow', 'cows'],
    'lamb_group': ['lamb', 'lambs'],
    'heifer_group': ['heifer', 'heifers'],
    'hog_group': ['hog', 'hogs'],
    "afflicted_group": ["afflicted", "affliction"],
    "pain_group": ["pain", "painful"],
    "hardship_group": ["hardship", "hardships"],
    "distress_group": ["distress", "distressed"],
    "suffering_group": ["suffering", "suffer"]
}

# Create a mapping from individual words to their group
word_to_group = {}
for group_name, words in word_groups.items():
    for word in words:
        word_to_group[word] = group_name

# Get all category words
all_category_words = set(hopelessness_words + religion_words + animals_words)

def get_word_group_counts_for_row(frequency_keys_str):
    """Get word group counts for a single row"""
    if pd.isna(frequency_keys_str) or frequency_keys_str == '':
        return {}
    
    words = frequency_keys_str.split('||')
    row_group_counts = defaultdict(int)
    
    for word in words:
        if word in word_to_group:
            row_group_counts[word_to_group[word]] += 1
        elif word in all_category_words:
            row_group_counts[word] += 1
    
    return dict(row_group_counts)

def calculate_group_counts(df):
    """Calculate word group counts for a dataframe"""
    group_counts = defaultdict(int)
    for frequency_keys_str in df['frequency_keys']:
        if pd.isna(frequency_keys_str) or frequency_keys_str == '':
            continue
        row_groups = get_word_group_counts_for_row(frequency_keys_str)
        for group, count in row_groups.items():
            group_counts[group] += count
    return dict(group_counts)

def can_remove_naid(naid, current_df, naid_to_rows):
    """Check if removing this NAID would keep all groups >= 100"""
    # Get rows for this NAID
    rows_to_remove = naid_to_rows[naid]
    
    # Calculate what group counts would be after removal
    test_df = current_df.drop(rows_to_remove)
    test_group_counts = calculate_group_counts(test_df)
    
    # Check if all groups still have >= 100
    return all(count >= 100 for count in test_group_counts.values())

# Start with all NAIDs
all_naids = set(df_with_dict_categorized_multi['NAID'].unique())
selected_naids = all_naids.copy()

# Group rows by NAID
naid_to_rows = defaultdict(list)
for idx, row in df_with_dict_categorized_multi.iterrows():
    naid_to_rows[row['NAID']].append(idx)

# Initial group counts
current_df = df_with_dict_categorized_multi.copy()
current_group_counts = calculate_group_counts(current_df)

print(f"Starting with {len(selected_naids)} NAIDs")
print(f"Initial group counts:")
for group, count in sorted(current_group_counts.items(), key=lambda x: x[1]):
    print(f"  {group}: {count}")

# Iteratively remove NAIDs that aren't needed
removed_count = 0
iteration = 0
max_iterations = len(all_naids)  # Safety limit

# Convert to list for iteration (we'll modify selected_naids as we go)
naids_to_check = list(selected_naids)

for naid in naids_to_check:
    if naid not in selected_naids:
        continue
        
    iteration += 1
    if iteration % 100 == 0:
        print(f"Checking NAID {iteration}/{len(naids_to_check)}: {len(selected_naids)} remaining")
    
    # Check if we can remove this NAID
    if can_remove_naid(naid, current_df, naid_to_rows):
        # Remove this NAID
        rows_to_remove = naid_to_rows[naid]
        current_df = current_df.drop(rows_to_remove)
        selected_naids.remove(naid)
        removed_count += 1

print(f"\nRemoved {removed_count} NAIDs")
print(f"Final selected NAIDs: {len(selected_naids)}")

# Create filtered dataframe with only selected NAIDs
df_with_dict_categorized_multi_reduced = df_with_dict_categorized_multi[
    df_with_dict_categorized_multi['NAID'].isin(selected_naids)
].copy()

print(f"\nReduced dataframe shape: {df_with_dict_categorized_multi_reduced.shape}")
print(f"Original unique NAIDs: {len(all_naids)}")
print(f"Reduced unique NAIDs: {len(selected_naids)}")
print(f"Reduction: {removed_count} fewer NAIDs")

# Verify final word group counts
final_group_counts = calculate_group_counts(df_with_dict_categorized_multi_reduced)

print(f"\nFinal word group counts:")
for group, count in sorted(final_group_counts.items(), key=lambda x: x[1]):
    status = "✓" if count >= 100 else f"✗ (needs {100 - count} more)"
    print(f"  {group}: {count} {status}")

Starting with 3818 NAIDs
Initial group counts:
  despondent: 100
  needy: 110
  distress_group: 131
  pope: 164
  helpless: 165
  poverty: 188
  hardship_group: 196
  pain_group: 214
  destitute: 216
  bull: 218
  christian: 230
  suffering_group: 240
  god: 241
  pig_group: 268
  bishop: 277
  lamb_group: 293
  mare: 312
  cattle: 313
  colt: 341
  afflicted_group: 370
  heifer_group: 409
  hog_group: 448
  bible: 477
  sheep: 504
  clergyman: 758
  cow_group: 1035
  lord: 1173
  minister: 1224
  pastor: 1700
  church: 2414
Checking NAID 100/3818: 3721 remaining
Checking NAID 200/3818: 3624 remaining
Checking NAID 300/3818: 3527 remaining
Checking NAID 400/3818: 3431 remaining
Checking NAID 500/3818: 3337 remaining
Checking NAID 600/3818: 3247 remaining
Checking NAID 700/3818: 3153 remaining
Checking NAID 800/3818: 3062 remaining
Checking NAID 900/3818: 2967 remaining
Checking NAID 1000/3818: 2871 remaining
Checking NAID 1100/3818: 2775 remaining
Checking NAID 1200/3818: 2680 remaining
Checking NAID 1300/3818: 2587 remaining
Checking NAID 1400/3818: 2489 remaining
Checking NAID 1500/3818: 2391 remaining
Checking NAID 1600/3818: 2302 remaining
Checking NAID 1700/3818: 2223 remaining
Checking NAID 1800/3818: 2136 remaining
Checking NAID 1900/3818: 2053 remaining
Checking NAID 2000/3818: 1969 remaining
Checking NAID 2100/3818: 1878 remaining
Checking NAID 2200/3818: 1799 remaining
Checking NAID 2300/3818: 1715 remaining
Checking NAID 2400/3818: 1646 remaining
Checking NAID 2500/3818: 1576 remaining
Checking NAID 2600/3818: 1513 remaining
Checking NAID 2700/3818: 1441 remaining
Checking NAID 2800/3818: 1383 remaining
Checking NAID 2900/3818: 1330 remaining
Checking NAID 3000/3818: 1280 remaining
Checking NAID 3100/3818: 1229 remaining
Checking NAID 3200/3818: 1183 remaining
Checking NAID 3300/3818: 1130 remaining
Checking NAID 3400/3818: 1079 remaining
Checking NAID 3500/3818: 1030 remaining
Checking NAID 3600/3818: 981 remaining
Checking NAID 3700/3818: 929 remaining
Checking NAID 3800/3818: 885 remaining

Removed 2940 NAIDs
Final selected NAIDs: 878

Reduced dataframe shape: (1509, 9)
Original unique NAIDs: 3818
Reduced unique NAIDs: 878
Reduction: 2940 fewer NAIDs

Final word group counts:
  pain_group: 100 ✓
  mare: 100 ✓
  god: 100 ✓
  destitute: 100 ✓
  christian: 100 ✓
  needy: 100 ✓
  bull: 100 ✓
  cattle: 100 ✓
  afflicted_group: 100 ✓
  helpless: 100 ✓
  suffering_group: 100 ✓
  hardship_group: 100 ✓
  despondent: 100 ✓
  distress_group: 100 ✓
  lamb_group: 100 ✓
  pig_group: 100 ✓
  poverty: 100 ✓
  bishop: 100 ✓
  pope: 100 ✓
  heifer_group: 100 ✓
  colt: 103 ✓
  hog_group: 136 ✓
  bible: 139 ✓
  pastor: 146 ✓
  sheep: 146 ✓
  minister: 155 ✓
  clergyman: 159 ✓
  church: 277 ✓
  cow_group: 293 ✓
  lord: 363 ✓

In [72]:
df_with_dict_categorized_multi_reduced.shape

(1509, 9)

In [73]:
df_with_dict_categorized_multi_reduced.head()

,NAID,naraURL,pageObjectId,pageURL,transcriptionText,file_cat,frequency_distribution,frequency_keys,frequency_categories
5947,111763255,https://catalog.archives.gov/id/111763255,111763275,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,"within the provisions of an act entitled ""an a...",widow,"{'within': 1, 'provisions': 1, 'act': 2, 'enti...",pain||mare||cows||hogs,hopelessness||animals
7096,111762056,https://catalog.archives.gov/id/111762056,111762083,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,An Appeal from the first Congregational Church...,soldier,"{'appeal': 2, 'first': 1, 'congregational': 1,...",church||lord||minister||pastor||god||painful||...,hopelessness||religion
12708,111756184,https://catalog.archives.gov/id/111756184,111756188,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,OBITUARY.\nCommunicated.\n\nDIED --In this cou...,widow,"{'obituary': 1, 'communicated': 1, 'died': 1, ...",christian||church||god||painful,hopelessness||religion
12770,111756184,https://catalog.archives.gov/id/111756184,111756250,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,Virginia Fauquier County to wit:\nJohn Dulin a...,widow,"{'virginia': 3, 'fauquier': 3, 'county': 5, 'w...",god||needy,hopelessness||religion
14119,111754847,https://catalog.archives.gov/id/111754847,111754856,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,DECLARATION\nIn order to obtain the benefit of...,rejected,"{'declaration': 3, 'order': 2, 'obtain': 2, 'b...",bull||clergyman,religion||animals

In [74]:
# Count how many times each NAID appears
naid_counts_reduced = df_with_dict_categorized_multi_reduced['NAID'].value_counts().to_dict()

print(f"Total unique NAIDs in reduced dataframe: {len(naid_counts_reduced)}")
print(f"Total rows: {len(df_with_dict_categorized_multi_reduced)}")

# Show statistics
print(f"\nNAIDs appearing most frequently:")
sorted_naid_counts = dict(sorted(naid_counts_reduced.items(), key=lambda x: x[1], reverse=True))
for naid, count in list(sorted_naid_counts.items())[:20]:
    print(f"  NAID {naid}: {count} times")

# Show distribution
print(f"\nDistribution of NAID occurrences:")
occurrence_counts = {}
for count in naid_counts_reduced.values():
    occurrence_counts[count] = occurrence_counts.get(count, 0) + 1

for num_occurrences in sorted(occurrence_counts.keys()):
    num_naids = occurrence_counts[num_occurrences]
    print(f"  {num_occurrences} occurrence(s): {num_naids} NAID(s)")

# Display the full dictionary
naid_counts_reduced

Total unique NAIDs in reduced dataframe: 878
Total rows: 1509

NAIDs appearing most frequently:
  NAID 53929009: 10 times
  NAID 54729136: 8 times
  NAID 144225574: 8 times
  NAID 111445353: 7 times
  NAID 53973551: 7 times
  NAID 54937647: 7 times
  NAID 196631399: 7 times
  NAID 54213872: 7 times
  NAID 54903523: 6 times
  NAID 54718724: 6 times
  NAID 53974434: 6 times
  NAID 54774383: 6 times
  NAID 144214085: 6 times
  NAID 53901727: 6 times
  NAID 54516759: 6 times
  NAID 196305198: 6 times
  NAID 54604300: 6 times
  NAID 111717203: 6 times
  NAID 53973443: 6 times
  NAID 54466352: 6 times

Distribution of NAID occurrences:
  1 occurrence(s): 534 NAID(s)
  2 occurrence(s): 199 NAID(s)
  3 occurrence(s): 75 NAID(s)
  4 occurrence(s): 32 NAID(s)
  5 occurrence(s): 17 NAID(s)
  6 occurrence(s): 13 NAID(s)
  7 occurrence(s): 5 NAID(s)
  8 occurrence(s): 2 NAID(s)
  10 occurrence(s): 1 NAID(s)

{'53929009': 10,
 '54729136': 8,
 '144225574': 8,
 '111445353': 7,
 '53973551': 7,
 '54937647': 7,
 '196631399': 7,
 '54213872': 7,
 '54903523': 6,
 '54718724': 6,
 '53974434': 6,
 '54774383': 6,
 '144214085': 6,
 '53901727': 6,
 '54516759': 6,
 '196305198': 6,
 '54604300': 6,
 '111717203': 6,
 '53973443': 6,
 '54466352': 6,
 '54939123': 6,
 '54067449': 5,
 '53999582': 5,
 '111467534': 5,
 '196417196': 5,
 '54273284': 5,
 '54027938': 5,
 '111722025': 5,
 '54280912': 5,
 '53829850': 5,
 '196270852': 5,
 '144046793': 5,
 '111471442': 5,
 '54053320': 5,
 '53978145': 5,
 '54565318': 5,
 '54883321': 5,
 '196153170': 5,
 '54948026': 4,
 '54160986': 4,
 '196383472': 4,
 '196106496': 4,
 '54653690': 4,
 '196484985': 4,
 '144035954': 4,
 '111520596': 4,
 '196220732': 4,
 '111670224': 4,
 '144328000': 4,
 '54153555': 4,
 '54331202': 4,
 '54106251': 4,
 '144293796': 4,
 '53846041': 4,
 '196142236': 4,
 '54316755': 4,
 '54496699': 4,
 '54603584': 4,
 '196265263': 4,
 '196281899': 4,
 '196186008': 4,
 '53935378': 4,
 '196740408': 4,
 '54690441': 4,
 '53941188': 4,
 '54194576': 4,
 '144206396': 4,
 '111515777': 4,
 '53974339': 4,
 '53973156': 4,
 '196143037': 3,
 '54369310': 3,
 '54706929': 3,
 '54337042': 3,
 '54629678': 3,
 '196742648': 3,
 '196650650': 3,
 '196674857': 3,
 '196477407': 3,
 '53973672': 3,
 '54043580': 3,
 '54069765': 3,
 '54875294': 3,
 '54568520': 3,
 '53976345': 3,
 '196077940': 3,
 '54744303': 3,
 '53779055': 3,
 '53861475': 3,
 '53777202': 3,
 '196699164': 3,
 '54637843': 3,
 '54106399': 3,
 '53818699': 3,
 '196416877': 3,
 '54475969': 3,
 '54642848': 3,
 '144268867': 3,
 '196632154': 3,
 '144199640': 3,
 '144188834': 3,
 '196417405': 3,
 '53841186': 3,
 '53952295': 3,
 '53851617': 3,
 '54530187': 3,
 '54018634': 3,
 '196323482': 3,
 '54340604': 3,
 '196628887': 3,
 '54325365': 3,
 '196083822': 3,
 '54454164': 3,
 '54393231': 3,
 '54729897': 3,
 '54839254': 3,
 '54013292': 3,
 '54961325': 3,
 '54915552': 3,
 '53945299': 3,
 '54557997': 3,
 '196228922': 3,
 '196150400': 3,
 '111708280': 3,
 '53879886': 3,
 '196657104': 3,
 '196190113': 3,
 '53877568': 3,
 '144276998': 3,
 '54859340': 3,
 '54281871': 3,
 '54416656': 3,
 '54528808': 3,
 '54193534': 3,
 '54393520': 3,
 '53952330': 3,
 '54437867': 3,
 '111673711': 3,
 '54587541': 3,
 '54199482': 3,
 '196141423': 3,
 '54111477': 3,
 '54256347': 3,
 '196301750': 3,
 '196140617': 3,
 '196724094': 2,
 '54774132': 2,
 '54084554': 2,
 '54169435': 2,
 '54572095': 2,
 '54085990': 2,
 '54815154': 2,
 '53912223': 2,
 '196169474': 2,
 '111727363': 2,
 '144302675': 2,
 '54097746': 2,
 '111525187': 2,
 '54087372': 2,
 '54588606': 2,
 '54872887': 2,
 '54874533': 2,
 '54399826': 2,
 '53911407': 2,
 '54637357': 2,
 '54635725': 2,
 '196135120': 2,
 '54891190': 2,
 '196331277': 2,
 '144089900': 2,
 '54393884': 2,
 '196084824': 2,
 '144216548': 2,
 '54898661': 2,
 '54724702': 2,
 '111521117': 2,
 '54732555': 2,
 '54303051': 2,
 '54137401': 2,
 '196120931': 2,
 '54474720': 2,
 '54632339': 2,
 '54005077': 2,
 '144111756': 2,
 '53989366': 2,
 '54549182': 2,
 '54492565': 2,
 '196712668': 2,
 '53858988': 2,
 '196702305': 2,
 '53781927': 2,
 '196666907': 2,
 '144206968': 2,
 '196225970': 2,
 '144191319': 2,
 '54881217': 2,
 '54238953': 2,
 '54878635': 2,
 '54277194': 2,
 '54631352': 2,
 '54629487': 2,
 '54625286': 2,
 '54621111': 2,
 '111762056': 2,
 '54928409': 2,
 '54166440': 2,
 '196646840': 2,
 '196647266': 2,
 '196619629': 2,
 '54942488': 2,
 '54953119': 2,
 '54070833': 2,
 '54634119': 2,
 '54045831': 2,
 '53913962': 2,
 '53909803': 2,
 '196723925': 2,
 '53900670': 2,
 '54028855': 2,
 '111475421': 2,
 '53975143': 2,
 '53974359': 2,
 '54777686': 2,
 '54415825': 2,
 '54816756': 2,
 '54800156': 2,
 '54747487': 2,
 '196416765': 2,
 '53828406': 2,
 '196411782': 2,
 '196409603': 2,
 '196401803': 2,
 '196233622': 2,
 '196233677': 2,
 '196222398': 2,
 '196217030': 2,
 '54525012': 2,
 '196234113': 2,
 '196139882': 2,
 '54513205': 2,
 '54510159': 2,
 '54509999': 2,
 '54326450': 2,
 '53825170': 2,
 '54506850': 2,
 '53824381': 2,
 '196489445': 2,
 '196681742': 2,
 '196662870': 2,
 '54335283': 2,
 '53974276': 2,
 '53779286': 2,
 '53926888': 2,
 '53821350': 2,
 '53974774': 2,
 '53775188': 2,
 '53774236': 2,
 '54838167': 2,
 '53960454': 2,
 '53849694': 2,
 '196419907': 2,
 '196292143': 2,
 '196278180': 2,
 '54962685': 2,
 '54749177': 2,
 '54721526': 2,
 '54654963': 2,
 '54209780': 2,
 '111409843': 2,
 '196379419': 2,
 '54657198': 2,
 '54198381': 2,
 '196372198': 2,
 '53873087': 2,
 '54682470': 2,
 '54700974': 2,
 '144113580': 2,
 '54281240': 2,
 '196380529': 2,
 '54547676': 2,
 '54287806': 2,
 '54691570': 2,
 '54529523': 2,
 '54529394': 2,
 '196373884': 2,
 '196233368': 2,
 '196422230': 2,
 '196377230': 2,
 '53854982': 2,
 '53858921': 2,
 '53944576': 2,
 '196357638': 2,
 '54024552': 2,
 '54361577': 2,
 '54494555': 2,
 '54086673': 2,
 '196143311': 2,
 '54914725': 2,
 '196633592': 2,
 '54907299': 2,
 '196641524': 2,
 '144228648': 2,
 '144225034': 2,
 '54619143': 2,
 '53872925': 2,
 '144215153': 2,
 '54448770': 2,
 '196353120': 2,
 '196353590': 2,
 '196358653': 2,
 '144344889': 2,
 '54613340': 2,
 '53866280': 2,
 '196368371': 2,
 '111756184': 2,
 '111684696': 2,
 '111679584': 2,
 '196360710': 2,
 '196142375': 2,
 '196454617': 2,
 '54447034': 2,
 '54493147': 2,
 '54342018': 2,
 '54704786': 2,
 '196297968': 2,
 '53926950': 2,
 '53938689': 2,
 '196096129': 2,
 '54462732': 2,
 '196111169': 2,
 '196111567': 2,
 '53814250': 2,
 '54448304': 2,
 '54130022': 2,
 '196112137': 2,
 '144029363': 2,
 '54021271': 2,
 '54017021': 2,
 '196463135': 2,
 '54310362': 2,
 '53803121': 2,
 '144262145': 2,
 '53813587': 2,
 '196384598': 2,
 '196240720': 1,
 '196391728': 1,
 '144114531': 1,
 '196417176': 1,
 '196398041': 1,
 '196233845': 1,
 '144123875': 1,
 '54549077': 1,
 '196240928': 1,
 '196421202': 1,
 '196236891': 1,
 '196385350': 1,
 '144149907': 1,
 '111450590': 1,
 '54192989': 1,
 '53820437': 1,
 '54170979': 1,
 '54176560': 1,
 '54377096': 1,
 '54373833': 1,
 '54192607': 1,
 '54365490': 1,
 '53878767': 1,
 '54197958': 1,
 '144128563': 1,
 '53871457': 1,
 '144128655': 1,
 '53867508': 1,
 '144132409': 1,
 '144136374': 1,
 '144142026': 1,
 '53820465': 1,
 '53820787': 1,
 '54039217': 1,
 '53824314': 1,
 '196315831': 1,
 '196326216': 1,
 '196378431': 1,
 '54861744': 1,
 '54861168': 1,
 '196270367': 1,
 '54860375': 1,
 '54958832': 1,
 '54843417': 1,
 '54266544': 1,
 '54841637': 1,
 '54840986': 1,
 '54280041': 1,
 '53832794': 1,
 '53981579': 1,
 '54354119': 1,
 '111763255': 1,
 '196402365': 1,
 '196488008': 1,
 '196292044': 1,
 '53944837': 1,
 '53934092': 1,
 '53931896': 1,
 '54692320': 1,
 '54686408': 1,
 '54685678': 1,
 '54607425': 1,
 '54675108': 1,
 '54607358': 1,
 '54604589': 1,
 '54600868': 1,
 '196239530': 1,
 '196393696': 1,
 '196389528': 1,
 '196387634': 1,
 '54666249': 1,
 '144313939': 1,
 '54837642': 1,
 '196101293': 1,
 '196746069': 1,
 '196743800': 1,
 '196363126': 1,
 '196361199': 1,
 '196346833': 1,
 '196468246': 1,
 '196103333': 1,
 '54343687': 1,
 '144315865': 1,
 '54343421': 1,
 '54340945': 1,
 '54330794': 1,
 '54130710': 1,
 '54129746': 1,
 '54110100': 1,
 '144319174': 1,
 '196377035': 1,
 '53825230': 1,
 '54087936': 1,
 '54703505': 1,
 '53868879': 1,
 '54358436': 1,
 '53805035': 1,
 '53826142': 1,
 '196397518': 1,
 '196232133': 1,
 '54698823': 1,
 '54655241': 1,
 '54701930': 1,
 '53943236': 1,
 '54229832': 1,
 '54241699': 1,
 '54256430': 1,
 '54492043': 1,
 '196212998': 1,
 '54529440': 1,
 '144146169': 1,
 '144312120': 1,
 '53815659': 1,
 '54084577': 1,
 '53803590': 1,
 '53892926': 1,
 '54028014': 1,
 '54107872': 1,
 '54117456': 1,
 '196157207': 1,
 '54082728': 1,
 '196629426': 1,
 '111527525': 1,
 '196652457': 1,
 '196136522': 1,
 '54774659': 1,
 '196691649': 1,
 '53982157': 1,
 '54009851': 1,
 '54160219': 1,
 '242845554': 1,
 '196631122': 1,
 '196400874': 1,
 '54885353': 1,
 '54902700': 1,
 '144237769': 1,
 '144073945': 1,
 '144061527': 1,
 '144061299': 1,
 '54893811': 1,
 '54886846': 1,
 '54828400': 1,
 '54923870': 1,
 '54817538': 1,
 '54811813': 1,
 '54811020': 1,
 '54579470': 1,
 '54576727': 1,
 '111478273': 1,
 '111463997': 1,
 '54923854': 1,
 '111658207': 1,
 '54937968': 1,
 '54493571': 1,
 '196213144': 1,
 '196687474': 1,
 '196682357': 1,
 '196676848': 1,
 '53799359': 1,
 '53795425': 1,
 '53860486': 1,
 '54486381': 1,
 '196453563': 1,
 '54485521': 1,
 '54477031': 1,
 '54472169': 1,
 '54471788': 1,
 '144260030': 1,
 '144251295': 1,
 '111508229': 1,
 '54633733': 1,
 '196625198': 1,
 '144163442': 1,
 '54740777': 1,
 '144196833': 1,
 '54774000': 1,
 '54760991': 1,
 '54754104': 1,
 '54745792': 1,
 '54744686': 1,
 '196137127': 1,
 '54738617': 1,
 '196703269': 1,
 '54732172': 1,
 '54731211': 1,
 '54804698': 1,
 '54796790': 1,
 '54781919': 1,
 '54777201': 1,
 '54777155': 1,
 '144205691': 1,
 '53982344': 1,
 '196625030': 1,
 '54059150': 1,
 '196621697': 1,
 '196620040': 1,
 '196609944': 1,
 '196253024': 1,
 '144034075': 1,
 '54063558': 1,
 '54059605': 1,
 '54231711': 1,
 '54138308': 1,
 '111728587': 1,
 '111540192': 1,
 '54159071': 1,
 '54158081': 1,
 '54156869': 1,
 '54150998': 1,
 '54149233': 1,
 '196247140': 1,
 '196636980': 1,
 '54596462': 1,
 '54480368': 1,
 '196438137': 1,
 '111674331': 1,
 '111662629': 1,
 '111656626': 1,
 '111656589': 1,
 '111655679': 1,
 '111646004': 1,
 '54923926': 1,
 '54919883': 1,
 '54917072': 1,
 '54911392': 1,
 '54902910': 1,
 '54898839': 1,
 '54897443': 1,
 '54895393': 1,
 '144221943': 1,
 '144216382': 1,
 '196443645': 1,
 '111491282': 1,
 '111491814': 1,
 '54449557': 1,
 '54475784': 1,
 '54474130': 1,
 '54471220': 1,
 '54464910': 1,
 '54459244': 1,
 '54451107': 1,
 '54449621': 1,
 '54443761': 1,
 '111504598': 1,
 '144255139': 1,
 '54315692': 1,
 '54309619': 1,
 '54305832': 1,
 '54298609': 1,
 '54291072': 1,
 '54288819': 1,
 '144212877': 1,
 '196085880': 1,
 '196082863': 1,
 '54577489': 1,
 '144280051': 1,
 '144278172': 1,
 '144276619': 1,
 '54833678': 1,
 '54810339': 1,
 '54806835': 1,
 '54590077': 1,
 '54573970': 1,
 '144287451': 1,
 '54571779': 1,
 '54570252': 1,
 '54569736': 1,
 '111483498': 1,
 '111468453': 1,
 '111466181': 1,
 '54646138': 1,
 '144283838': 1,
 '144302100': 1,
 '144346042': 1,
 '144076333': 1,
 '144345039': 1,
 '144340125': 1,
 '144334906': 1,
 '111700825': 1,
 '144085631': 1,
 '144081191': 1,
 '144080278': 1,
 '144073617': 1,
 '54880053': 1,
 '144065771': 1,
 '54892734': 1,
 '54891460': 1,
 '54891259': 1,
 '54887717': 1,
 '54886442': 1,
 '54882525': 1,
 '54478113': 1,
 '54486763': 1,
 '54596581': 1,
 '54487974': 1,
 '54275050': 1,
 '54271183': 1,
 '54267098': 1,
 '54263250': 1,
 '111423955': 1,
 '111420277': 1,
 '54961448': 1,
 '196273396': 1,
 '196331469': 1,
 '196321031': 1,
 '196318080': 1,
 '196314750': 1,
 '54225904': 1,
 '54225681': 1,
 '54224144': 1,
 '54221540': 1,
 '54219046': 1,
 '54278515': 1,
 '54280073': 1,
 '54281515': 1,
 '54023891': 1,
 '111754847': 1,
 '111750753': 1,
 '111738354': 1,
 '54042076': 1,
 '54039200': 1,
 '54028148': 1,
 '54027828': 1,
 '54015173': 1,
 '54288106': 1,
 '54013824': 1,
 '53977410': 1,
 '53974964': 1,
 '53968803': 1,
 '53963975': 1,
 '53959808': 1,
 '53957744': 1,
 '54213838': 1,
 '54205294': 1,
 '54200691': 1,
 '196682425': 1,
 '54518882': 1,
 '54517549': 1,
 '54514099': 1,
 '54508704': 1,
 '54507584': 1,
 '54500101': 1,
 '196685179': 1,
 '196661125': 1,
 '54523025': 1,
 '53794060': 1,
 '53785547': 1,
 '53784758': 1,
 '53779019': 1,
 '53775444': 1,
 '12059055': 1,
 '53847319': 1,
 '54521322': 1,
 '196224912': 1,
 '54197625': 1,
 '54557166': 1,
 '111447898': 1,
 '111444055': 1,
 '144121063': 1,
 '144119215': 1,
 '144113912': 1,
 '144106370': 1,
 '54559003': 1,
 '54547156': 1,
 '196411266': 1,
 '54545942': 1,
 '54545610': 1,
 '54536426': 1,
 '196427516': 1,
 '196423043': 1,
 '196421967': 1,
 '196421573': 1,
 '54642462': 1,
 '54641719': 1,
 '54626934': 1,
 '54951245': 1,
 '54084717': 1,
 '54083788': 1,
 '54078553': 1,
 '54073746': 1,
 '196748146': 1,
 '196739727': 1,
 '196732932': 1,
 '196729264': 1,
 '196722556': 1,
 '196363564': 1,
 '196359011': 1,
 '196342148': 1,
 '196165392': 1,
 '196161149': 1,
 '196157514': 1,
 '196144364': 1,
 '196481398': 1,
 '54096076': 1,
 '54098519': 1,
 '54099235': 1,
 '54803456': 1,
 '54730651': 1,
 '54728728': 1,
 '54721473': 1,
 '54720855': 1,
 '54717404': 1,
 '54714955': 1,
 '54714229': 1,
 '54800225': 1,
 '54105731': 1,
 '54799023': 1,
 '144176817': 1,
 '144174201': 1,
 '144173895': 1,
 '144161613': 1,
 '196650005': 1,
 '196638533': 1,
 '196477479': 1,
 '196474554': 1,
 '196474439': 1,
 '54704261': 1,
 '54661132': 1,
 '54656833': 1,
 '54655090': 1,
 '196303116': 1,
 '196283458': 1,
 '196282864': 1,
 '54704942': 1,
 '54697398': 1,
 '54679628': 1,
 '54689707': 1,
 '54685240': 1,
 '54683325': 1,
 '111783278': 1,
 '54620519': 1,
 '54616025': 1,
 '54610400': 1,
 '54670691': 1,
 '144312947': 1,
 '196470618': 1,
 '54337351': 1,
 '196113915': 1,
 '196112392': 1,
 '196112094': 1,
 '196100606': 1,
 '196092053': 1,
 '196090190': 1,
 '54345913': 1,
 '54336520': 1,
 '144329267': 1,
 '54334413': 1,
 '54329482': 1,
 '54323875': 1,
 '54130399': 1,
 '54127350': 1,
 '54110864': 1,
 '54108901': 1,
 '54731011': 1,
 '54737922': 1,
 '196136720': 1,
 '111722349': 1,
 '54246981': 1,
 '54244779': 1,
 '54243534': 1,
 '54237090': 1,
 '54232086': 1,
 '111738066': 1,
 '111726701': 1,
 '111715974': 1,
 '54412893': 1,
 '54405339': 1,
 '54403568': 1,
 '54401881': 1,
 '54390927': 1,
 '54390542': 1,
 '54383615': 1,
 '111638802': 1,
 '54250575': 1,
 '54415745': 1,
 '111525666': 1,
 '144058712': 1,
 '54949940': 1,
 '54926265': 1,
 '54925793': 1,
 '196626647': 1,
 '196625066': 1,
 '196622242': 1,
 '196609573': 1,
 '144053331': 1,
 '54417259': 1,
 '144037371': 1,
 '54063095': 1,
 '53896423': 1,
 '54442061': 1,
 '54427715': 1,
 '54423450': 1,
 '54421491': 1,
 '111535384': 1,
 '54164638': 1,
 '54743514': 1,
 '54764806': 1,
 '144208177': 1,
 '144201378': 1,
 '144197456': 1,
 '144193678': 1,
 '144193149': 1,
 '144190837': 1,
 '144189070': 1,
 '54764109': 1,
 '196691996': 1,
 '54762439': 1,
 '54760365': 1,
 '54755726': 1,
 '54754739': 1,
 '54753748': 1,
 '54750794': 1,
 '54743568': 1,
 '144208279': 1,
 '196696149': 1,
 '54163843': 1,
 '196177204': 1,
 '54162311': 1,
 '54160746': 1,
 '54153144': 1,
 '54146193': 1,
 '54143724': 1,
 '196190342': 1,
 '196177372': 1,
 '196175180': 1,
 '196699373': 1,
 '54006393': 1,
 '53989552': 1,
 '196714820': 1,
 '196713266': 1,
 '196713106': 1,
 '196712576': 1,
 '196700968': 1,
 '54531863': 1}

### Sort by NAID frequency first (preferring those that occur the most), then by number of keys:

In [78]:
# Sort by NAID frequency first, then by number of keys
df_with_dict_categorized_multi_reduced_sorted = df_with_dict_categorized_multi_reduced.copy()

# Count how many times each NAID appears in the dataframe
naid_counts_in_df = df_with_dict_categorized_multi_reduced_sorted['NAID'].value_counts().to_dict()

# Add column with NAID occurrence count
df_with_dict_categorized_multi_reduced_sorted['naid_count'] = df_with_dict_categorized_multi_reduced_sorted['NAID'].map(naid_counts_in_df)

# Count the number of keys in each row
df_with_dict_categorized_multi_reduced_sorted['num_keys'] = df_with_dict_categorized_multi_reduced_sorted['frequency_keys'].apply(
    lambda x: len(str(x).split('||')) if pd.notna(x) and str(x) != '' else 0
)

# Sort: first by NAID count (descending - most frequent NAIDs first), then by num_keys (descending)
df_with_dict_categorized_multi_reduced_sorted = df_with_dict_categorized_multi_reduced_sorted.sort_values(
    by=['naid_count', 'num_keys'], 
    ascending=[False, False]
)

# Optionally drop the temporary columns
# df_with_dict_categorized_multi_reduced_sorted = df_with_dict_categorized_multi_reduced_sorted.drop(columns=['naid_count', 'num_keys'])

# Display the sorted dataframe
df_with_dict_categorized_multi_reduced_sorted

,NAID,naraURL,pageObjectId,pageURL,transcriptionText,file_cat,frequency_distribution,frequency_keys,frequency_categories,naid_count,num_keys
1921635,53929009,https://catalog.archives.gov/id/53929009,53929020,https://s3.amazonaws.com/NARAprodstorage/opast...,This certifies that in the Records of the\nChu...,widow,"{'certifies': 1, 'records': 1, 'church': 4, 'f...",church||minister||pastor||destitute,hopelessness||religion,10,4
1921636,53929009,https://catalog.archives.gov/id/53929009,53929020,https://s3.amazonaws.com/NARAprodstorage/opast...,This certifies that in the Records of the\nChu...,widow,"{'certifies': 1, 'records': 1, 'church': 4, 'f...",church||minister||pastor||destitute,hopelessness||religion,10,4
1921725,53929009,https://catalog.archives.gov/id/53929009,53929065,https://s3.amazonaws.com/NARAprodstorage/opast...,Huntington Sept 11th. '44\nThis certifies that...,widow,"{'huntington': 5, 'sept': 1, '11th': 2, ''44':...",church||minister||pastor,religion,10,3
1921726,53929009,https://catalog.archives.gov/id/53929009,53929065,https://s3.amazonaws.com/NARAprodstorage/opast...,Huntington Sept 11th. '44\nThis certifies that...,widow,"{'huntington': 5, 'sept': 1, '11th': 2, ''44':...",church||minister||pastor,religion,10,3
1921625,53929009,https://catalog.archives.gov/id/53929009,53929015,https://s3.amazonaws.com/NARAprodstorage/opast...,The majors name was Shipman and the adjutant w...,widow,"{'majors': 1, 'name': 2, 'shipman': 1, 'adjuta...",bible||bull,religion||animals,10,2
...,...,...,...,...,...,...,...,...,...,...,...
1179564,54256430,https://catalog.archives.gov/id/54256430,54256445,https://s3.amazonaws.com/NARAprodstorage/opast...,State of New York\nClinton County ss on this 4...,widow,"{'state': 5, 'new': 2, 'york': 2, 'clinton': 1...",despondent,hopelessness,1,1
486924,54492043,https://catalog.archives.gov/id/54492043,54492048,https://s3.amazonaws.com/NARAprodstorage/opast...,Paulding and Col. McCloughey and General Georg...,soldier,"{'paulding': 2, 'col.': 2, 'mccloughey': 1, 'g...",despondent,hopelessness,1,1
355660,196212998,https://catalog.archives.gov/id/196212998,196213005,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,State of New York\nColumbia County\nIs on this...,soldier,"{'state': 3, 'new': 1, 'york': 1, 'columbia': ...",despondent,hopelessness,1,1
310986,54529440,https://catalog.archives.gov/id/54529440,54529443,https://s3.amazonaws.com/NARAprodstorage/opast...,aforesaid under the following named officers A...,rejected,"{'aforesaid': 1, 'following': 1, 'named': 1, '...",despondent,hopelessness,1,1
308648,54531863,https://catalog.archives.gov/id/54531863,54531893,https://s3.amazonaws.com/NARAprodstorage/opast...,that he enlisted under Genl [General] Proctor ...,widow,"{'enlisted': 2, 'genl': 3, 'general': 4, 'proc...",despondent,hopelessness,1,1

In [79]:
# Remove the unnecessary columns
df_with_dict_categorized_multi_reduced_sorted_clean = df_with_dict_categorized_multi_reduced_sorted.drop(
    columns=['frequency_distribution', 'naid_count', 'num_keys', 'pageObjectId']
)

# Display the cleaned dataframe
df_with_dict_categorized_multi_reduced_sorted_clean

,NAID,naraURL,pageURL,transcriptionText,file_cat,frequency_keys,frequency_categories
1921635,53929009,https://catalog.archives.gov/id/53929009,https://s3.amazonaws.com/NARAprodstorage/opast...,This certifies that in the Records of the\nChu...,widow,church||minister||pastor||destitute,hopelessness||religion
1921636,53929009,https://catalog.archives.gov/id/53929009,https://s3.amazonaws.com/NARAprodstorage/opast...,This certifies that in the Records of the\nChu...,widow,church||minister||pastor||destitute,hopelessness||religion
1921725,53929009,https://catalog.archives.gov/id/53929009,https://s3.amazonaws.com/NARAprodstorage/opast...,Huntington Sept 11th. '44\nThis certifies that...,widow,church||minister||pastor,religion
1921726,53929009,https://catalog.archives.gov/id/53929009,https://s3.amazonaws.com/NARAprodstorage/opast...,Huntington Sept 11th. '44\nThis certifies that...,widow,church||minister||pastor,religion
1921625,53929009,https://catalog.archives.gov/id/53929009,https://s3.amazonaws.com/NARAprodstorage/opast...,The majors name was Shipman and the adjutant w...,widow,bible||bull,religion||animals
...,...,...,...,...,...,...,...
1179564,54256430,https://catalog.archives.gov/id/54256430,https://s3.amazonaws.com/NARAprodstorage/opast...,State of New York\nClinton County ss on this 4...,widow,despondent,hopelessness
486924,54492043,https://catalog.archives.gov/id/54492043,https://s3.amazonaws.com/NARAprodstorage/opast...,Paulding and Col. McCloughey and General Georg...,soldier,despondent,hopelessness
355660,196212998,https://catalog.archives.gov/id/196212998,https://s3.amazonaws.com/NARAprodstorage/lz/mi...,State of New York\nColumbia County\nIs on this...,soldier,despondent,hopelessness
310986,54529440,https://catalog.archives.gov/id/54529440,https://s3.amazonaws.com/NARAprodstorage/opast...,aforesaid under the following named officers A...,rejected,despondent,hopelessness
308648,54531863,https://catalog.archives.gov/id/54531863,https://s3.amazonaws.com/NARAprodstorage/opast...,that he enlisted under Genl [General] Proctor ...,widow,despondent,hopelessness

In [80]:
# Save to CSV
df_with_dict_categorized_multi_reduced_sorted_clean.to_csv(
    'df_with_dict_categorized_multi_reduced_sorted.csv', 
    index=False
)

In [83]:
import json

# Load the current JSON file
with open('frequency_categories_combined.json', 'r') as f:
    combined_dict = json.load(f)

# Define word groups (singular/plural pairs)
word_groups = {
    'animals': [
        ['cow', 'cows'],
        ['lamb', 'lambs'],
        ['hog', 'hogs'],
        ['pig', 'pigs'],
        ['heifer', 'heifers']
    ],
    'hopelessness': [
        ['afflicted', 'affliction'],
        ['suffering', 'suffer'],
        ['pain', 'painful'],
        ['hardships', 'hardship'],
        ['distress', 'distressed']
    ],
    'religion': []  # No pairs in religion category
}

# Transform each category
transformed_dict = {}

for category, word_dict in combined_dict.items():
    transformed_dict[category] = {}
    
    # Get the word groups for this category
    groups = word_groups.get(category, [])
    
    # Track which words have been processed
    processed_words = set()
    
    # Process word groups
    for group in groups:
        # Find which words in the group exist in the data
        existing_words = [(word, word_dict.get(word, {}).get('count', 0)) 
                         for word in group if word in word_dict]
        
        if len(existing_words) > 1:
            # Sort by count (descending) to get the highest count first
            existing_words.sort(key=lambda x: x[1], reverse=True)
            
            # Use the word with highest count as the key
            main_word = existing_words[0][0]
            
            # Combine all words and counts
            total_count = sum(count for _, count in existing_words)
            all_words = [word for word, _ in existing_words]
            
            transformed_dict[category][main_word] = {
                "count": total_count,
                "words": all_words
            }
            
            # Mark all words in this group as processed
            processed_words.update(group)
    
    # Add remaining words that weren't part of any group
    for word, data in word_dict.items():
        if word not in processed_words:
            transformed_dict[category][word] = data.copy()

# Save the transformed dictionary
with open('frequency_categories_combined.json', 'w') as f:
    json.dump(transformed_dict, f, indent=2)

print("Word groups combined successfully!")
print("\nCombined groups:")
for category, groups in word_groups.items():
    if groups:
        print(f"\n{category}:")
        for group in groups:
            existing = [w for w in group if w in combined_dict.get(category, {})]
            if len(existing) > 1:
                counts = {w: combined_dict[category][w].get('count', 0) for w in existing}
                main = max(existing, key=lambda w: counts[w])
                total = sum(counts.values())
                print(f"  {existing} -> '{main}' (total count: {total})")

Word groups combined successfully!

Combined groups:

animals:
  ['cow', 'cows'] -> 'cow' (total count: 3396)
  ['lamb', 'lambs'] -> 'lamb' (total count: 1891)
  ['hog', 'hogs'] -> 'hogs' (total count: 1434)
  ['pig', 'pigs'] -> 'pigs' (total count: 811)
  ['heifer', 'heifers'] -> 'heifer' (total count: 558)

hopelessness:
  ['afflicted', 'affliction'] -> 'afflicted' (total count: 1190)
  ['suffering', 'suffer'] -> 'suffering' (total count: 941)
  ['pain', 'painful'] -> 'pain' (total count: 706)
  ['hardships', 'hardship'] -> 'hardships' (total count: 718)
  ['distress', 'distressed'] -> 'distress' (total count: 404)